<h1>Interactive Demo</h1>
<script src="demo.js"></script>
<textarea id="terminal"></textarea>
<script type="text/javascript">MYLIBRARY.init(["prime 10101"]);</script>

<style>
#terminal {
    overflow: auto;
    width: 100%;
    height: 25em;
    resize: both;
    background-color: black;
    color: white;
    padding: 2%;
    border: 1px dashed grey;
}
</style>
