<!--var footer-height = document.getElementById('footer-ul').offsetHeight;-->

<footer class="site-footer" style="height: footer-height;">

  <ul>

      <!--<span class="heart">❤</span>-->

      <li><a href="/about">Made with lots of <object type="image/svg+xml" data="/assets/svg/heart.svg"></object></a> :: <a href="https://www.github.com/lbeckman314/website"> open-source and free</a></li>
      <br />
      <li>© 2019 liam beckman :: <a href="https://www.github.com/lbeckman314/website" style="color: #99979c;">code</a> licensed <a style="color: #99979c" href="https://www.apache.org/licenses/LICENSE-2.0.html">Apache 2.0</a></li>

      <li class="quote">
"I only want to live in peace, plant potatoes and dream!" -Tove Jansson
</li>
  </ul>

</footer>

