/***************************************************/
/* CSS I've cobbled together from the far corners of the world.
Feel free to copy and paste, fork, clone, or anything you like. */
/***************************************************/



//***************************************************/
//* SASS VARIABLES
//***************************************************/

$font-stack: DejaVu Sans, DejaVu Serif, Liberation Sans, Helvetica, Ariral, Sans-Serif;

$pop-1: #DB37C4; // pink
$pop-2: #ED68D9; // purple
$pop-3: #49CCD4; // teal
$pop-4: #678CFA; // light blue
$pop-5: #4635F7; // blue

$header-footer: #2A2730;

$heart: #FF357A;

$grey-light: #aaa;
$grey: #99979c;
$grey-dark: #131516;

$white: #FFFFFF;

$blue-light: #eef;

// https://stackoverflow.com/questions/12144000/using-custom-fonts-using-css
@font-face {
    font-family: 'EB Garamond';
    src: url('/assets/fonts/EBGaramond-0.016/ttf/EBGaramond12-Regular.ttf');
}

$base-font-size:   1em;
$large-font-size:  3em;
$base-font-weight: 500;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 2;
$small-line-height: $base-line-height - 0.2;

$spacing-unit:     30px;
$tran:             800ms;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



/***************************************************/
/* BASIC STUFF
/***************************************************/

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
}

body {
    word-wrap: break-word;
    background-color: snow;
}

#content {
    font-family: $font-stack;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 4%;
    margin: auto;
    max-width: 1200px;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: $base-font-weight;
    position: relative;
}

/* paragraphs*/
p {
    color: #333;
    padding-bottom: 1.5%;
    transition: $tran;
}

p.code {
    text-align: center;
    padding: 0.5em;
    font-size: $base-font-size;
}


p.headers {
    background-color: #D3D2E0;
    border: 1px $grey-light solid;
}

/* anchors */

a {
    color: $heart;
    text-decoration: none;
    font-weight: $base-font-weight + 100;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: $heart;

}

a.about {
    color: $pop-1;
    //text-decoration-color: $pop-1;
    text-decoration: snow;
}

a.writings, a.posts {
    color: $pop-2;
    //text-decoration-color: $pop-2;
    text-decoration: none;
}


a.code {
    color: $pop-3;
    //text-decoration-color: $pop-3;
    text-decoration: none;
}


a.git, .git {
    color: $pop-4;
    //text-decoration-color: $pop-4;
    text-decoration: none;
}

a.favorites {
    color: $pop-5;
    //text-decoration-color: $pop-5;
    text-decoration: none;
}


#home a {
    font-size: $base-font-size;
    transition: $tran;
}

#home span {
    transition: $tran;
}

#header a, #footer a {
    color: $white;
}

/*
li.header::after {
content: " )";
color: grey;
}

li.header::before {
content: "( ";
color: grey;
}
 */

a.secret {
    float: right;
    padding-right: 3em;
}

#home:hover a {
    text-decoration-color: snow;
    transition: $tran;
}


/* div */


div.about {
    border: solid 1px $pop-1;
    //background-image: url('/assets/png/code_example2_pink.png');
    transition: $tran;
}

div.writings, div.posts {
    border: solid 1px $pop-2;
    //background-image: url('/assets/png/code_example2_pink.png');
    transition: $tran;
}
div.code {
    border: solid 1px $pop-3;
    //background-image: url('/assets/png/code_example2_pink.png');
    transition: $tran;
}
div.git {
    border: solid 1px $pop-4;
    //background-image: url('/assets/png/code_example2_pink.png');
    transition: $tran;
}
div.favorites {
    border: solid 1px $pop-5;
    //background-image: url('/assets/png/code_example2_pink.png');
    transition: $tran;
}

div.about:hover {
    background-color: $pop-1;
    transition: $tran;
}

div.writings:hover, div.posts:hover {
    background-color: $pop-2;
    transition: $tran;
}

div.code:hover {
    background-color: $pop-3;
    transition: $tran;
}

div.git:hover {
    background-color: $pop-4;
    transition: $tran;
}

div.favorites:hover {
    background-color: $pop-5;
    transition: $tran;
}

/* Demo terminal stuff */

.terminals {
    overflow: auto;
    width: 100%;
    height: 25em;
    resize: both;
    background-color: white;
    color: black;
    padding: 2%;
    border: 1px dashed grey;
}

.demo-examples {
    background-color: #4635f7;
    border-radius: 0;
    font-size: $base-font-size + 0.3;
    margin-right: 0.5em;
    margin-top: 0.5em;
    cursor: pointer;
    transition: 800ms;
    display: inline-block;
}

.demo-examples:hover {
    background-color: #ff357a;
    transition: 800ms;
}

.what-is-this {
    float: right;
    margin-top: 1.5em;
    color: grey;
}

div.demo-examples-container {
    color: snow;
    line-height: 1.7;
    padding-bottom: 1.5%;
    transition: 800ms;
}

#duplicate-terminal, #remove-terminal {
    border: 1px dashed grey;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin-top: 0.5em;
    transition: 800ms;
    color: snow;
    font-size: $base-font-size;
    line-height: 1.7;
}

#duplicate-terminal:hover {
    background-color: #4635f7;
    border: 1px solid #4635f7;
    transition: 800ms;
    cursor: pointer;
}

#remove-terminal:hover {
    background-color: crimson;
    border: 1px solid crimson;
    transition: 800ms;
    cursor: pointer;
}

#info {
    float: left;
    font-size: $base-font-size;
    padding: 0.3em;
    transition: 400ms;
    color: black;
}


/* home stuff */

#home:hover p {
    color: snow;
    transition: $tran;
}

#home:hover span {
    color: snow;
    transition: $tran;
}

#home:hover div {
    border-bottom: 1px solid snow;
    transition: $tran;
}

#home:hover a {
    color: snow;
    transition: $tran;
}

#home div {
    width: 90%;
    margin: auto;
    margin-bottom: 2%;
    margin-top: 2%;
}

#home {
    width: 100%;
    cursor: pointer;
}


div.about-border {
    border-bottom: 1px solid $pop-1;

    transition: $tran;
}

div.writings-border, div.posts-border {
    border-bottom: 1px solid $pop-2;
    transition: $tran;
}


div.code-border {
    border-bottom: 1px solid $pop-3;
    transition: $tran;
}


div.git-border {
    border-bottom: 1px solid $pop-4;
    transition: $tran;
}


div.favorites-border {
    border-bottom: 1px solid $pop-5;
    transition: $tran;
}

#welcome {
    transition: $tran;
    width: 80%;
    margin: auto;
    display: block;
    padding: 3%;
    border: 1px dashed #aaa;
    cursor: pointer;
}

#welcome:hover {
    background: #0054a5;
    transition: $tran;
}


/* headers */

h1 {
    font-size: 3em;
    font-family: $font-stack;
    text-align: center;
    color: $grey-dark;
    padding-top: 3%;
}

h1.home-page {
    padding-top: 2%;
}

h1.favorites {
    color: #4635f7;
    text-decoration: underline dotted #4635f7;
}

.special {
    color: grey;
    text-decoration: underline dotted grey;
}

h2 {
    font-size: $large-font-size - 0.7;
    color: $grey-dark;
    padding-top: 3%;
    padding-bottom: 1%;
}

h3 {
    font-size: $large-font-size - 1.2;
    padding-top: 1%;
    padding-bottom: 1%;
}

/* lists */

ul {
    padding-left: 5%;
}

li {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

nav ul, #footer ul, #header ul {
    font-family: $font-stack;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    list-style: none;
    font-weight: bold;
    color: grey;
}

#header ul {
    padding-bottom: 10px;
}

nav ul li, #footer ul li, #header ul li {
    display: inline;
    color: #99979c;
}

ul.code, li.code {
    text-align: center;
    padding: 2%;
}

li.code {
    list-style: none;
    display: inline;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

li.quote {
    float:right;
    padding-top: 0;
    padding-bottom: 0;
}

#header li {

    margin-right: 20px;
}


/* https://stackoverflow.com/questions/4980525/css-center-display-inline-block */
.inline-block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

/* https://stackoverflow.com/questions/4980525/css-center-display-inline-block */
.inline-block > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

ul.showoff > li {
    border: 1px solid #aaa;
    margin: 1em;
    width: 45%;
    text-align: center;
    padding: 1%;
    list-style-type: none;
}

object.showoff {
    height: 2em;
    margin: 0.5em;
}

.zigzag-container {
    position: absolute;
    left: 0;
}

object.zigzag {
    width: 70%;
    margin: auto;
    margin-bottom: auto;
    display: block;
    margin-bottom: -1em;
    display:none;
}

.copyMessage {
    color: #fff;
    background-color: #333;
    font-size: 0.8em;
    text-align: center;
    border-radius: 6px;
    margin-top: -50%;
    transform: translateY(-30%);
    margin-right: -50%;
    padding: 10%;
    margin-bottom: -10%;
    transition: $tran;
}

.hide {
    visibility: hidden;
    transition: $tran;
}

.rainbow-box {
    padding: 1em;
    border: 3px solid transparent;
    border-image: linear-gradient(to bottom right, $pop-1 0%, $pop-1 25%, $pop-3 50%, $pop-4 75%, $pop-5 100%);
    border-image-slice: 1;
    transition: $tran;
    margin-bottom: 5%;
    text-align: center;
}


hr {
    border-bottom: 1px dashed $grey;
    border-top: 0px;
    transition: $tran;
    padding: 2%;
}

#header {
    font-size: .8em;
    background-color: $grey-dark;
}

.site-footer {
    background-color: $grey-dark;
    height:4.5em;
}


/* decorative splash of color at top of page */
/* http://sass-lang.com/ */
.popstripe
{
    height: .25em;
    background-size: 100%;
    background-image: linear-gradient(to right, $pop-1 0%, $pop-1 20%, $pop-2 20%, $pop-2 40%, $pop-3 40%, $pop-3 60%, $pop-4 60%, $pop-4 80%, $pop-5 80%, $pop-5 100%);
}



.heart {
    color: $heart;
}


img {
    max-width: 100%;
}

img.center {
    display: block;
    margin: 0 auto;
    width: 60%;
    padding: 2%;
    max-width: 400px;
    border: 1px dashed #aaa;
    border-radius: 50%;
    margin-top: 0.5em;
}

img.emily {
    border-radius: 0;
}

span.date:before {
    content: "|";
}

/* boxed items like in code and writings */
.container{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 3%;
}
.fixed{
    width: 30%;
    word-wrap: break-word;
    margin: 1.5em;
    border: solid 1px $grey-light;
    margin-left: auto;
    margin-right: auto;
}


.flex-item {
    flex-grow: 1;
}

.pointer {
    cursor: pointer;
}

.code-main {
    border: solid 1px #d5d5d5;
    width: 100%;
    margin: 0%;
}

button {
    border: 1px solid gray;
    transition: $tran;
}

button:hover {
    border: 1px solid #FF357A;
    transition: $tran;
}

.inline-content {
    text-align: center;
}

button#clear {
    width: 3em;
    height: 3em;
    color: snow;
    margin: -1%;
    margin-left: -3em;
    border: none;
    font-size: 1.5em;
}

button#clear:hover {
    border: none;
    color: #FF357A;
}

.light {
    background-color: whitesmoke;
    border: 1px solid #ff357a;
    color: whitesmoke;
}

.dark {
    background-color: black;
    border: 1px solid snow;
    color: black;
}

.white {
    color: snow;
}

.style {
    display: inline;
    margin-right: 1em;
    margin-left: 1em;
    float: right;
}

span, input {
    color: snow;
}

#full-screen-menu {
    display: inline;
}

/* Change color of dropdown links on hover */
.config-content, .dropdown-content ,.header:hover {
    background-color: #131516;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #131516;
    border: 1px solid grey;
    min-width: 40%;
    z-index: 1;
}

.config-content {
    display: none;
    position: absolute;
    background-color: #131516;
    border: 1px solid grey;
    z-index: 1;

    max-width: 40%;
    min-width: 40%;
    left: 59%
}

li.header::after {
    content: " )";
    color: grey;
}
li.header::before {
    content: "( ";
    color: grey;
}

#menu-items {
    display: none;
    width: 100%;
}

#settings{
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 10px;
    transition: $tran;
}

.menu-container {
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 5px;
}

#header ul li{
    margin: 1em;
    margin-left: auto;
    width: 70%;
    border: 1px solid black;
    padding-bottom: 0;
}

#myDropdown > a {
    margin: 0;
    padding: 10%;
    transition: $tran * 1.5;
}

#myDropdown > a:hover {
    background-color: #4635f7;
    transition: $tran / 2;
    text-decoration: none;
}

#myDropdown > .inline {
    margin: 0;
    padding: 10%;
    transition: $tran * 1.5;
}

#myDropdown > .inline:hover {
    background-color: #4635f7;
    transition: $tran / 2;
}

#myDropdown > #home:hover {
    background-color: #ff357a;
}

#myDropdown > #about:hover {
    background-color: $pop-1;
}

#myDropdown > #writings:hover {
    background-color: $pop-2;
}

#myDropdown > #code:hover {
    background-color: $pop-3;
}

#myDropdown > #vcs:hover {
    background-color: $pop-4;
}

#myDropdown > #favorites:hover {
    background-color: $pop-5;
}

#myDropdown > #secret:hover {
    background-color: #ff357a;
}

/* Links inside the dropdown */
.inline, .config-content span, .dropdown-content a {
    margin: 15%;
    margin-bottom: 5%;
    margin-top: 5%;
    display: block;
}

.dropdown-content > a {
    margin-bottom: 5%;
    margin-top: 15%;
    margin-bottom: 15%;
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.inline > a, .inline > span {
    display: inline;
    padding: 0;
    margin: 0;
}

.default {
    color: snow;
    padding: 1em;
}

svg {
    fill: snow;
}

input {
    padding: 1em;
    max-width: 100%;

    .max {
        height: 3.5em;
        min-width: 70%;
        min-width: 100%;
    }
}

.center, #linker {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    display: block;
    text-align: center;
}

#darkswitch, #lightswitch {
    height: 3em;
    width: 3em;
    display: inline;
    margin-right: 2%;
    margin-left: 2%;
}

.popstripe-bw {
    height: 0.25em;
    background-size: 100%;
    background-image: linear-gradient(to right, #191917 0%, #191917 20%, #6D7564 20%, #6D7564 40%, #363436 40%, #363436 60%, #7F7F7D 60%, #7F7F7D 80%, #363634 80%, #363634 100%);
}


/* borders */
.border {
    margin: 6%;
    margin-left: 10%;
    margin-right: 10%;
    border-bottom: 1px solid $grey-light;
}

.border-home {
    margin: 2%;
    margin-left: 10%;
    margin-right: 10%;
    border-bottom: 1px solid #db34ed;

    .border-code {
        border-bottom: 1px solid $grey-light;
    }
}


/* arrow links for next and previous */
/* http://david.elbe.me/jekyll/2015/06/20/how-to-link-to-next-and-previous-post-with-jekyll.html */
.PageNavigation {
    display: block;
    width: auto;
    overflow: hidden;
}

.PageNavigation a {
    display: block;
    width: 50%;
    margin: 1em 0;
    color: grey;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 1%;
}

.PageNavigation .prev {
    float: right;
    text-align: right;
}

.PageNavigation .next {
    float: left;
    text-align: left;
    padding-left: 4%;
}


.sub {
    color: grey;
    line-height: $small-line-height;
}

div.sub {
    float: right;
    clear: right;
    margin: 0px;
}
span.sub {
}

.safety {
    background-color: lavender;
    padding: 2em;
    border: 1px dashed grey;
    margin: 5%;
}


.code-title {
    font-size: $base-font-size;
    text-align: center;
    //background-color: $pop-1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.5em;
    border-radius: 1em;
    width: 60%;
    background-color: #FF357A;
}

.code-type {
    color: #333;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.5em;
    border-radius: 1em;
    width: 60%;
}

.web-app {
    border: 1px solid $pop-1;
}

.featured {
    transition: $tran;
    cursor: pointer;
}

.featured:hover {
    background-color: lavender;
    transition: $tran;
}

.command-line {
    border: 1px solid $pop-4;
}

.android {
    border: 1px solid $pop-3;
}

/**
 * Code formatting
 */
pre {
    //background-color: $blue-light;

    padding: 8px 12px;
    overflow-x: auto;
    white-space: pre-wrap;
}

code {
    //background-color: $blue-light;
    overflow-x: auto;
    white-space: pre-wrap;

    //margin-left: -6px;
    border-radius: 15%;

    /* top right bottom left */
    padding: 0.1em 0.4em 0.1em 0.4em;
    line-height: 1.5em;

    /* https://stackoverflow.com/questions/34659853/how-to-apply-padding-to-every-line-in-multi-line-text */
    box-decoration-break: clone;

    //color: #c80032;
    //background-color: #f9f2f4;
    //background-color: #fdeeff;
    font-size: 0.9em;

}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}


/* slideshow */
#align a {
    display: inline-block;
}


#align p {
    padding-left: 1.5em;
    color: #5e5e5e;
}


* {
    box-sizing: border-box;
}

img.slide {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 36em;
    object-fit: contain;
}

div.buttons {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5em;
}

span.grey {
    color: #5e5e5e;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
    background: black;
}

.prev-slideshow, .next-slideshow {
    cursor: pointer;
    position: absolute;
    top: 0;
    width: 30%;
    height: 100%;
    padding: 16px;
    color: white;
    font-weight: bold;
    /*transition: 0.6s ease;*/
    border-radius: 0 3px 3px 0;
}

.next-slideshow {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev-slideshow:hover, .next-slideshow:hover {
    //background-color: rgba(0,0,0,0.8);
}

.text {
    padding: 8px 12px;
    width: 100%;
    text-align: center;
    background: snow;
}


.numbertext {
    color: #f2f2f2;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    display: none;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    /*transition: background-color 0.6s ease;*/
}

.active, .dot:hover {
    background-color: #717171;
}

.black-fade {
    position: relative;
    border: 1px dashed lightgrey;
    padding: 1em;
}

/* https://stackoverflow.com/questions/18322548/black-transparent-overlay-on-image-hover-with-only-css/18322705 */

.black-fade:after {
    content: '\A';
    position: absolute;
    width: 100%;
    height:100%;
    top:0;
    left:0;
    background: black;
    opacity: 0;
    animation-name: fade-black;
    animation-duration: 1.5s;
}

@keyframes fade-black {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.menu-container {
    display: inline;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 20px;
    height: 3px;
    background-color: snow;
    margin: 5px 0;
    transition: $tran / 2;
}


/* Rotate first bar */
.change .bar1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.copyContainer {
    float: right;
    margin-left: -4%;
    padding-left: 4%;
}

.copySymbol {
    float: right;
    margin-right: 20%;
    transition: $tran;
}

.copySymbol:hover {
    transition: $tran;
    cursor: pointer;
}

div.highlight {
    margin: 5%;
}

/* https://stackoverflow.com/questions/8160514/is-there-css-for-typesetting-the-latex-logo-in-html */
.tex sub, .latex sub, .latex sup {
    text-transform: uppercase;
}

.tex sub, .latex sub {
    vertical-align: -0.5ex;
    margin-left: -0.1667em;
    margin-right: -0.125em;
}

.tex, .latex, .tex sub, .latex sub {
    font-size: 1em;
}

.latex sup {
    font-size: 0.85em;
    vertical-align: 0.15em;
    margin-left: -0.36em;
    margin-right: -0.15em;
}

svg {
    fill: black;
}

#mst3k {
  width:100%;
  margin-bottom: -0.6em;
}

.circle {
    padding: 1em;
    background-color: #282a36;
    border-radius: 50%;
    position: fixed;
    right: 5%;
    height: 4em;
    width: 4em;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    bottom: 5%;
    border: 1px solid;
    z-index: 1;
    animation-name: fadein;
    /*animation-duration: 500ms;*/
    transition: opacity 300ms;
}

.fade-out {
    opacity: 0;
}

.left {
    position: absolute;
    left: 0;
}

.right {
    position: absolute;
    right: 0;
}

.game-of-life-canvas {
    max-height: 100%;
    /*width: 100%;*/
    z-index: 0;
}

#cgol {
    z-index: 0;
}

// import partials
@import 'codelight';
@import 'responsive';
@import 'footer';
