<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>{{ title }}</title>
    </head>
        <body>
        <div id="wrapper">
            <div id="content">
            <code>         
            {{ content }}
            </code>
            </div>
        </div>
        </body>
</html>
