<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/css/github.css">
        <link rel="icon" type="image/jpg" href="/images/cabin.jpg" />
        <body>
        <div id="wrapper">
            <div id="header">
            {% include headerGithub.html %}
            </div>          <!--<img class="front-page" src="/images/cabin.jpg" alt="A nice country cabin.">-->
            
            
            <div id="content">
            {{ content }}
            </div>

            <div id="footer">
            {% include footer.html %}
            </div>
        </div>
        <div id="bottom"></div>
        </body>
</html>
