<style type="text/css">
<style type="text/css">
<!--
body {
    color: #333333;
    background-color: #ffffff;
}
.org-bold {
    /* bold */
    font-weight: bold;
}
.org-bold-italic {
    /* bold-italic */
    font-weight: bold;
    font-style: italic;
}
.org-border {
}
.org-buffer-menu-buffer {
    /* buffer-menu-buffer */
    font-weight: bold;
}
.org-builtin {
    /* font-lock-builtin-face */
    color: #a71d5d;
}
.org-button {
    /* button */
    text-decoration: underline;
}
.org-c-annotation {
    /* c-annotation-face */
    color: #0086b3;
}
.org-c-nonbreakable-space {
    /* c-nonbreakable-space-face */
    color: #373844;
    background-color: #ffb86c;
}
.org-calendar-month-header {
    /* calendar-month-header */
    color: #795da3;
    font-weight: bold;
}
.org-calendar-today {
    /* calendar-today */
    text-decoration: underline;
}
.org-calendar-weekday-header {
    /* calendar-weekday-header */
    color: #0086b3;
}
.org-calendar-weekend-header {
    /* calendar-weekend-header */
    color: #969896;
}
.org-change-log-acknowledgment {
    /* change-log-acknowledgment */
    color: #969896;
}
.org-change-log-conditionals {
    /* change-log-conditionals */
    color: #333333;
}
.org-change-log-date {
    /* change-log-date */
    color: #183691;
}
.org-change-log-email {
    /* change-log-email */
    color: #333333;
}
.org-change-log-file {
    /* change-log-file */
    color: #795da3;
    font-weight: bold;
}
.org-change-log-function {
    /* change-log-function */
    color: #333333;
}
.org-change-log-list {
    /* change-log-list */
    color: #a71d5d;
    font-weight: bold;
}
.org-change-log-name {
    /* change-log-name */
    color: #0086b3;
}
.org-comint-highlight-input {
    /* comint-highlight-input */
    font-weight: bold;
}
.org-comint-highlight-prompt {
    /* comint-highlight-prompt */
    color: #a71d5d;
    font-weight: bold;
}
.org-comment {
    /* font-lock-comment-face */
    color: #969896;
}
.org-comment-delimiter {
    /* font-lock-comment-delimiter-face */
    color: #969896;
}
.org-completions-annotations {
    /* completions-annotations */
    color: #333333;
}
.org-completions-common-part {
}
.org-completions-first-difference {
    /* completions-first-difference */
    font-weight: bold;
}
.org-constant {
    /* font-lock-constant-face */
    color: #0086b3;
}
.org-cursor {
    /* cursor */
    color: #333333;
    background-color: #333333;
}
.org-diary {
    /* diary */
    color: #ff0000;
}
.org-diff-added {
    /* diff-added */
    color: #333333;
    background-color: #eaffea;
}
.org-diff-changed {
    /* diff-changed */
    color: #333333;
    background-color: #f8cca9;
}
.org-diff-context {
    /* diff-context */
    color: #333333;
}
.org-diff-file-header {
    /* diff-file-header */
    color: #333333;
    background-color: #ffffff;
    font-weight: bold;
}
.org-diff-function {
    /* diff-function */
    background-color: #ffffff;
}
.org-diff-header {
    /* diff-header */
    background-color: #ffffff;
}
.org-diff-hunk-header {
    /* diff-hunk-header */
    background-color: #ffffff;
}
.org-diff-index {
    /* diff-index */
    color: #333333;
    background-color: #ffffff;
    font-weight: bold;
}
.org-diff-indicator-added {
    /* diff-indicator-added */
    color: #333333;
    background-color: #eaffea;
}
.org-diff-indicator-changed {
    /* diff-indicator-changed */
    color: #333333;
    background-color: #f8cca9;
}
.org-diff-indicator-removed {
    /* diff-indicator-removed */
    color: #333333;
    background-color: #ffecec;
}
.org-diff-nonexistent {
    /* diff-nonexistent */
    color: #333333;
    background-color: #ffffff;
    font-weight: bold;
}
.org-diff-refine-added {
    /* diff-refine-added */
    color: #333333;
    background-color: #a6f3a6;
}
.org-diff-refine-changed {
    /* diff-refine-changed */
    color: #333333;
    background-color: #f6dac3;
}
.org-diff-refine-removed {
    /* diff-refine-removed */
    color: #333333;
    background-color: #f8cbcb;
}
.org-diff-removed {
    /* diff-removed */
    color: #333333;
    background-color: #ffecec;
}
.org-dired-directory {
    /* dired-directory */
    color: #50fa7b;
}
.org-dired-flagged {
    /* dired-flagged */
    color: #ff79c6;
}
.org-dired-header {
    /* dired-header */
    color: #ccccc7;
    background-color: #282a36;
}
.org-dired-ignored {
    /* dired-ignored */
    color: #7f7f7f;
}
.org-dired-mark {
    /* dired-mark */
    color: #f8f8f2;
    font-weight: bold;
}
.org-dired-marked {
    /* dired-marked */
    color: #ffb86c;
    font-weight: bold;
}
.org-dired-perm-write {
    /* dired-perm-write */
    color: #ccccc7;
    text-decoration: underline;
}
.org-dired-symlink {
    /* dired-symlink */
    color: #f1fa8c;
    font-style: italic;
}
.org-dired-warning {
    /* dired-warning */
    color: #ffb86c;
    text-decoration: underline;
}
.org-doc {
    /* font-lock-doc-face */
    color: #183691;
}
.org-eldoc-highlight-function-argument {
    /* eldoc-highlight-function-argument */
    font-weight: bold;
}
.org-error {
    /* error */
    color: #ff0000;
    font-weight: bold;
}
.org-escape-glyph {
    /* escape-glyph */
    color: #a71d5d;
    font-weight: bold;
}
.org-evil-ex-commands {
    /* evil-ex-commands */
    font-style: italic;
    text-decoration: underline;
}
.org-evil-ex-info {
    /* evil-ex-info */
    color: #ff0000;
    font-style: italic;
}
.org-evil-ex-lazy-highlight {
    /* evil-ex-lazy-highlight */
    color: #333333;
    background-color: #f8eec7;
    font-weight: bold;
}
.org-evil-ex-search {
    /* evil-ex-search */
    color: #ffffff;
    background-color: #b0cde7;
    font-weight: bold;
}
.org-evil-ex-substitute-matches {
    /* evil-ex-substitute-matches */
    color: #333333;
    background-color: #f8eec7;
    font-weight: bold;
}
.org-evil-ex-substitute-replacement {
    /* evil-ex-substitute-replacement */
    color: #ff0000;
    text-decoration: underline;
}
.org-ffap {
    /* ffap */
    color: #b6b6b2;
}
.org-file-name-shadow {
    /* file-name-shadow */
    color: #7f7f7f;
}
.org-fixed-pitch {
}
.org-fixed-pitch-serif {
}
.org-flyspell-duplicate {
    /* flyspell-duplicate */
    text-decoration: underline;
}
.org-flyspell-incorrect {
    /* flyspell-incorrect */
    text-decoration: underline;
}
.org-fringe {
    /* fringe */
    color: #333333;
    background-color: #ffffff;
}
.org-function-name {
    /* font-lock-function-name-face */
    color: #795da3;
    font-weight: bold;
}
.org-git-commit-comment-action {
    /* git-commit-comment-action */
    color: #333333;
    font-weight: bold;
}
.org-git-commit-comment-branch-local {
    /* git-commit-comment-branch-local */
    color: #a71d5d;
    font-weight: bold;
}
.org-git-commit-comment-branch-remote {
    /* git-commit-comment-branch-remote */
    color: #333333;
}
.org-git-commit-comment-detached {
    /* git-commit-comment-detached */
    color: #a71d5d;
    font-weight: bold;
}
.org-git-commit-comment-file {
    /* git-commit-comment-file */
    color: #183691;
}
.org-git-commit-comment-heading {
    /* git-commit-comment-heading */
    color: #a71d5d;
    font-weight: bold;
}
.org-git-commit-known-pseudo-header {
    /* git-commit-known-pseudo-header */
    color: #a71d5d;
    font-weight: bold;
}
.org-git-commit-nonempty-second-line {
    /* git-commit-nonempty-second-line */
    color: #333333;
    background-color: #373844;
}
.org-git-commit-note {
    /* git-commit-note */
    color: #183691;
}
.org-git-commit-overlong-summary {
    /* git-commit-overlong-summary */
    color: #333333;
    background-color: #373844;
}
.org-git-commit-pseudo-header {
    /* git-commit-pseudo-header */
    color: #183691;
}
.org-git-commit-summary {
    /* git-commit-summary */
    color: #0086b3;
}
.org-glyphless-char {
    /* glyphless-char */
    font-size: 60%;
}
.org-header-line {
    /* header-line */
    color: #a71d5d;
    background-color: #b0cde7;
}
.org-help-argument-name {
    /* help-argument-name */
    font-style: italic;
}
.org-highlight {
    /* highlight */
    color: #ccccc7;
    background-color: #f8eec7;
}
.org-holiday {
    /* holiday */
    background-color: #ffc0cb;
}
.org-ido-first-match {
    /* ido-first-match */
    color: #a71d5d;
    font-weight: bold;
}
.org-ido-incomplete-regexp {
    /* ido-incomplete-regexp */
    color: #333333;
    background-color: #373844;
}
.org-ido-indicator {
    /* ido-indicator */
    color: #a71d5d;
    background-color: #333333;
}
.org-ido-only-match {
    /* ido-only-match */
    color: #333333;
    font-weight: bold;
}
.org-ido-subdir {
    /* ido-subdir */
    color: #a71d5d;
}
.org-ido-virtual {
    /* ido-virtual */
    color: #a71d5d;
}
.org-info-header-node {
    /* info-header-node */
    color: #a52a2a;
    font-weight: bold;
    font-style: italic;
}
.org-info-header-xref {
    /* info-header-xref */
    color: #a71d5d;
    font-weight: bold;
    text-decoration: underline;
}
.org-info-index-match {
    /* info-index-match */
    color: #333333;
    background-color: #b0cde7;
    font-weight: bold;
}
.org-info-menu-header {
    /* info-menu-header */
    font-weight: bold;
}
.org-info-menu-star {
    /* info-menu-star */
    color: #ff0000;
}
.org-info-node {
    /* info-node */
    color: #a52a2a;
    font-weight: bold;
    font-style: italic;
}
.org-info-quoted {
    /* Info-quoted */
    color: #0086b3;
}
.org-info-title-1 {
    /* info-title-1 */
    font-size: 172%;
    font-weight: bold;
}
.org-info-title-2 {
    /* info-title-2 */
    font-size: 144%;
    font-weight: bold;
}
.org-info-title-3 {
    /* info-title-3 */
    font-size: 120%;
    font-weight: bold;
}
.org-info-title-4 {
    /* info-title-4 */
    font-weight: bold;
}
.org-info-xref {
    /* info-xref */
    color: #a71d5d;
    font-weight: bold;
    text-decoration: underline;
}
.org-isearch {
    /* isearch */
    color: #ffffff;
    background-color: #b0cde7;
    font-weight: bold;
}
.org-isearch-fail {
    /* isearch-fail */
    color: #d0d0d0;
    background-color: #ffffff;
}
.org-italic {
    /* italic */
    font-style: italic;
}
.org-ivy-action {
    /* ivy-action */
    color: #a71d5d;
}
.org-ivy-confirm {
    /* ivy-confirm-face */
    color: #969896;
    background-color: #ffffff;
}
.org-ivy-current-match {
    /* ivy-current-match */
    color: #a71d5d;
    font-weight: bold;
    text-decoration: underline;
}
.org-ivy-cursor {
    /* ivy-cursor */
    color: #ffffff;
    background-color: #000000;
}
.org-ivy-highlight {
    /* ivy-highlight-face */
    color: #ccccc7;
    background-color: #f8eec7;
}
.org-ivy-match-required {
    /* ivy-match-required-face */
    color: #183691;
    background-color: #ffffff;
}
.org-ivy-minibuffer-match-face-1 {
    /* ivy-minibuffer-match-face-1 */
    background-color: #ffffff;
}
.org-ivy-minibuffer-match-face-2 {
    /* ivy-minibuffer-match-face-2 */
    background-color: #969896;
}
.org-ivy-minibuffer-match-face-3 {
    /* ivy-minibuffer-match-face-3 */
    background-color: #969896;
}
.org-ivy-minibuffer-match-face-4 {
    /* ivy-minibuffer-match-face-4 */
    background-color: #333333;
}
.org-ivy-minibuffer-match-highlight {
    /* ivy-minibuffer-match-highlight */
    color: #ccccc7;
    background-color: #f8eec7;
}
.org-ivy-modified-buffer {
    /* ivy-modified-buffer */
    color: #333333;
    background-color: #ffffff;
}
.org-ivy-prompt-match {
    /* ivy-prompt-match */
    color: #a71d5d;
    font-weight: bold;
    text-decoration: underline;
}
.org-ivy-remote {
    /* ivy-remote */
    color: #333333;
    background-color: #ffffff;
}
.org-ivy-subdir {
    /* ivy-subdir */
    color: #a71d5d;
    background-color: #ffffff;
}
.org-ivy-virtual {
    /* ivy-virtual */
    color: #a71d5d;
}
.org-keyword {
    /* font-lock-keyword-face */
    color: #a71d5d;
    font-weight: bold;
}
.org-lazy-highlight {
    /* lazy-highlight */
    color: #333333;
    background-color: #f8eec7;
    font-weight: bold;
}
.org-link {
    /* link */
    color: #a71d5d;
    font-weight: bold;
    text-decoration: underline;
}
.org-link-visited {
    /* link-visited */
    color: #333333;
    text-decoration: underline;
}
.org-linum {
    /* linum */
    color: #969896;
    background-color: #ffffff;
    font-style: italic;
}
.org-log-edit-header {
    /* log-edit-header */
    color: #a71d5d;
    font-weight: bold;
}
.org-log-edit-summary {
    /* log-edit-summary */
    color: #795da3;
    font-weight: bold;
}
.org-log-edit-unknown-header {
    /* log-edit-unknown-header */
    color: #969896;
}
.org-magit-bisect-bad {
    /* magit-bisect-bad */
    color: #183691;
}
.org-magit-bisect-good {
    /* magit-bisect-good */
    color: #969896;
}
.org-magit-bisect-skip {
    /* magit-bisect-skip */
    color: #a71d5d;
}
.org-magit-blame-date {
    /* magit-blame-date */
    color: #333333;
    background-color: #b0cde7;
}
.org-magit-blame-hash {
    /* magit-blame-hash */
    color: #333333;
    background-color: #b0cde7;
}
.org-magit-blame-heading {
    /* magit-blame-heading */
    color: #333333;
    background-color: #b0cde7;
}
.org-magit-blame-name {
    /* magit-blame-name */
    color: #333333;
    background-color: #b0cde7;
}
.org-magit-blame-summary {
    /* magit-blame-summary */
    color: #333333;
    background-color: #b0cde7;
    font-weight: bold;
}
.org-magit-branch-current {
    /* magit-branch-current */
    color: #333333;
    font-weight: bold;
}
.org-magit-branch-local {
    /* magit-branch-local */
    color: #333333;
    font-weight: bold;
}
.org-magit-branch-remote {
    /* magit-branch-remote */
    color: #969896;
    font-weight: bold;
}
.org-magit-branch-remote-head {
    /* magit-branch-remote-head */
    color: #969896;
    font-weight: bold;
}
.org-magit-cherry-equivalent {
    /* magit-cherry-equivalent */
    color: #333333;
}
.org-magit-cherry-unmatched {
    /* magit-cherry-unmatched */
    color: #795da3;
}
.org-magit-diff-added {
    /* magit-diff-added */
    color: #22aa22;
    background-color: #ddffdd;
}
.org-magit-diff-added-highlight {
    /* magit-diff-added-highlight */
    color: #22aa22;
    background-color: #cceecc;
}
.org-magit-diff-base {
    /* magit-diff-base */
    color: #aaaa11;
    background-color: #ffffcc;
}
.org-magit-diff-base-highlight {
    /* magit-diff-base-highlight */
    color: #aaaa11;
    background-color: #eeeebb;
}
.org-magit-diff-conflict-heading {
    /* magit-diff-conflict-heading */
    background-color: #ffffff;
}
.org-magit-diff-context {
    /* magit-diff-context */
    color: #7f7f7f;
}
.org-magit-diff-context-highlight {
    /* magit-diff-context-highlight */
    color: #b3b3b3;
    background-color: #ffffff;
}
.org-magit-diff-file-heading {
    /* magit-diff-file-heading */
    font-weight: bold;
}
.org-magit-diff-file-heading-highlight {
    /* magit-diff-file-heading-highlight */
    background-color: #ffffff;
    font-weight: bold;
}
.org-magit-diff-file-heading-selection {
    /* magit-diff-file-heading-selection */
    color: #333333;
    background-color: #ffffff;
    font-weight: bold;
}
.org-magit-diff-hunk-heading {
    /* magit-diff-hunk-heading */
    background-color: #ffffff;
}
.org-magit-diff-hunk-heading-highlight {
    /* magit-diff-hunk-heading-highlight */
    background-color: #ffffff;
}
.org-magit-diff-hunk-heading-selection {
    /* magit-diff-hunk-heading-selection */
    color: #333333;
    background-color: #ffffff;
}
.org-magit-diff-hunk-region {
    /* magit-diff-hunk-region */
    font-weight: bold;
}
.org-magit-diff-lines-boundary {
    /* magit-diff-lines-boundary */
    color: #ffffff;
    background-color: #333333;
}
.org-magit-diff-lines-heading {
    /* magit-diff-lines-heading */
    color: #ffffff;
    background-color: #333333;
}
.org-magit-diff-our {
    /* magit-diff-our */
    color: #aa2222;
    background-color: #ffdddd;
}
.org-magit-diff-our-highlight {
    /* magit-diff-our-highlight */
    color: #aa2222;
    background-color: #eecccc;
}
.org-magit-diff-removed {
    /* magit-diff-removed */
    color: #aa2222;
    background-color: #ffdddd;
}
.org-magit-diff-removed-highlight {
    /* magit-diff-removed-highlight */
    color: #aa2222;
    background-color: #eecccc;
}
.org-magit-diff-their {
    /* magit-diff-their */
    color: #22aa22;
    background-color: #ddffdd;
}
.org-magit-diff-their-highlight {
    /* magit-diff-their-highlight */
    color: #22aa22;
    background-color: #cceecc;
}
.org-magit-diff-whitespace-warning {
    /* magit-diff-whitespace-warning */
    background-color: #183691;
}
.org-magit-diffstat-added {
    /* magit-diffstat-added */
    color: #0086b3;
}
.org-magit-diffstat-removed {
    /* magit-diffstat-removed */
    color: #183691;
}
.org-magit-dimmed {
    /* magit-dimmed */
    color: #333333;
}
.org-magit-filename {
}
.org-magit-hash {
    /* magit-hash */
    color: #333333;
}
.org-magit-head {
    /* magit-head */
    color: #333333;
    font-weight: bold;
}
.org-magit-header-line {
    /* magit-header-line */
    color: #a71d5d;
    font-weight: bold;
}
.org-magit-header-line-key {
    /* magit-header-line-key */
    color: #969896;
    font-weight: bold;
}
.org-magit-header-line-log-select {
    /* magit-header-line-log-select */
    font-weight: bold;
}
.org-magit-keyword {
    /* magit-keyword */
    color: #183691;
}
.org-magit-log-author {
    /* magit-log-author */
    color: #333333;
}
.org-magit-log-date {
    /* magit-log-date */
    color: #333333;
}
.org-magit-log-graph {
    /* magit-log-graph */
    color: #333333;
}
.org-magit-mode-line-process {
    /* magit-mode-line-process */
    font-weight: bold;
}
.org-magit-popup-argument {
    /* magit-popup-argument */
    color: #969896;
    font-weight: bold;
}
.org-magit-popup-disabled-argument {
    /* magit-popup-disabled-argument */
    color: #333333;
}
.org-magit-popup-heading {
    /* magit-popup-heading */
    color: #a71d5d;
    font-weight: bold;
}
.org-magit-popup-key {
    /* magit-popup-key */
    color: #969896;
    font-weight: bold;
}
.org-magit-popup-option-value {
    /* magit-popup-option-value */
    color: #333333;
    font-weight: bold;
}
.org-magit-process-ng {
    /* magit-process-ng */
    color: #183691;
    font-weight: bold;
}
.org-magit-process-ok {
    /* magit-process-ok */
    color: #969896;
    font-weight: bold;
}
.org-magit-reflog-amend {
    /* magit-reflog-amend */
    color: #333333;
}
.org-magit-reflog-checkout {
    /* magit-reflog-checkout */
    color: #333333;
}
.org-magit-reflog-cherry-pick {
    /* magit-reflog-cherry-pick */
    color: #969896;
}
.org-magit-reflog-commit {
    /* magit-reflog-commit */
    color: #969896;
}
.org-magit-reflog-merge {
    /* magit-reflog-merge */
    color: #969896;
}
.org-magit-reflog-other {
    /* magit-reflog-other */
    color: #795da3;
}
.org-magit-reflog-rebase {
    /* magit-reflog-rebase */
    color: #333333;
}
.org-magit-reflog-remote {
    /* magit-reflog-remote */
    color: #795da3;
}
.org-magit-reflog-reset {
    /* magit-reflog-reset */
    color: #183691;
}
.org-magit-refname {
    /* magit-refname */
    color: #333333;
    background-color: #ffffff;
    font-weight: bold;
}
.org-magit-refname-stash {
    /* magit-refname-stash */
    color: #333333;
    background-color: #ffffff;
    font-weight: bold;
}
.org-magit-refname-wip {
    /* magit-refname-wip */
    color: #333333;
    background-color: #ffffff;
    font-weight: bold;
}
.org-magit-section-heading {
    /* magit-section-heading */
    color: #a71d5d;
    font-weight: bold;
}
.org-magit-section-heading-selection {
    /* magit-section-heading-selection */
    color: #333333;
    font-weight: bold;
}
.org-magit-section-highlight {
    /* magit-section-highlight */
    background-color: #ffffff;
}
.org-magit-section-secondary-heading {
    /* magit-section-secondary-heading */
    font-weight: bold;
}
.org-magit-sequence-done {
    /* magit-sequence-done */
    color: #333333;
}
.org-magit-sequence-drop {
    /* magit-sequence-drop */
    color: #183691;
}
.org-magit-sequence-exec {
    /* magit-sequence-exec */
    color: #333333;
}
.org-magit-sequence-head {
    /* magit-sequence-head */
    color: #333333;
}
.org-magit-sequence-onto {
    /* magit-sequence-onto */
    color: #333333;
}
.org-magit-sequence-part {
    /* magit-sequence-part */
    color: #a71d5d;
}
.org-magit-sequence-pick {
    /* magit-sequence-pick */
    color: #333333;
}
.org-magit-sequence-stop {
    /* magit-sequence-stop */
    color: #969896;
}
.org-magit-signature-bad {
    /* magit-signature-bad */
    color: #183691;
}
.org-magit-signature-error {
    /* magit-signature-error */
    color: #cd2626;
}
.org-magit-signature-expired {
    /* magit-signature-expired */
    color: #ffa500;
}
.org-magit-signature-expired-key {
    /* magit-signature-expired-key */
    color: #ffa500;
}
.org-magit-signature-good {
    /* magit-signature-good */
    color: #969896;
}
.org-magit-signature-revoked {
    /* magit-signature-revoked */
    color: #d02090;
}
.org-magit-signature-untrusted {
    /* magit-signature-untrusted */
    color: #a71d5d;
}
.org-magit-tag {
    /* magit-tag */
    color: #333333;
    font-weight: bold;
}
.org-match {
    /* match */
    color: #333333;
    background-color: #b0cde7;
    font-weight: bold;
}
.org-menu {
    /* menu */
    color: #333333;
    background-color: #ffffff;
}
.org-message-cited-text {
    /* message-cited-text */
    color: #969896;
}
.org-message-header-cc {
    /* message-header-cc */
    color: #a71d5d;
    font-weight: bold;
}
.org-message-header-name {
    /* message-header-name */
    color: #333333;
}
.org-message-header-newsgroups {
    /* message-header-newsgroups */
    color: #a71d5d;
    font-weight: bold;
}
.org-message-header-other {
    /* message-header-other */
    color: #969896;
}
.org-message-header-subject {
    /* message-header-subject */
    color: #333333;
    font-weight: bold;
}
.org-message-header-to {
    /* message-header-to */
    color: #a71d5d;
    font-weight: bold;
}
.org-message-header-xheader {
    /* message-header-xheader */
    color: #969896;
}
.org-message-mml {
    /* message-mml */
    color: #a71d5d;
    font-weight: bold;
}
.org-message-separator {
    /* message-separator */
    color: #969896;
}
.org-minibuffer-prompt {
    /* minibuffer-prompt */
    color: #a71d5d;
    font-weight: bold;
}
.org-mm-command-output {
    /* mm-command-output */
    color: #cd0000;
}
.org-mode-line {
    /* mode-line */
    color: #bcbdc0;
    background-color: #24292e;
}
.org-mode-line-buffer-id {
    /* mode-line-buffer-id */
    color: #ffffff;
    font-weight: bold;
}
.org-mode-line-emphasis {
    /* mode-line-emphasis */
    font-weight: bold;
}
.org-mode-line-highlight {
}
.org-mode-line-inactive {
    /* mode-line-inactive */
    color: #969896;
    background-color: #ffffff;
}
.org-mouse {
}
.org-negation-char {
    /* font-lock-negation-char-face */
    color: #a71d5d;
}
.org-next-error {
    /* next-error */
    color: #282a36;
    background-color: #b0cde7;
}
.org-nobreak-space {
    /* nobreak-space */
    color: #a71d5d;
    font-weight: bold;
    text-decoration: underline;
}
.org-org-agenda-calendar-event {
    /* org-agenda-calendar-event */
    color: #333333;
    background-color: #ffffff;
}
.org-org-agenda-calendar-sexp {
    /* org-agenda-calendar-sexp */
    color: #333333;
    background-color: #ffffff;
}
.org-org-agenda-clocking {
    /* org-agenda-clocking */
    background-color: #f8eec7;
    font-weight: bold;
}
.org-org-agenda-column-dateline {
    /* org-agenda-column-dateline */
    background-color: #b0cde7;
}
.org-org-agenda-current-time {
    /* org-agenda-current-time */
    color: #333333;
}
.org-org-agenda-date {
    /* org-agenda-date */
    color: #bd93f9;
}
.org-org-agenda-date-today {
    /* org-agenda-date-today */
    color: #333333;
    font-weight: bold;
    font-style: italic;
}
.org-org-agenda-date-weekend {
    /* org-agenda-date-weekend */
    color: #bd93f9;
    font-weight: bold;
}
.org-org-agenda-diary {
    /* org-agenda-diary */
    color: #333333;
    background-color: #ffffff;
}
.org-org-agenda-dimmed-todo {
    /* org-agenda-dimmed-todo-face */
    color: #6272a4;
}
.org-org-agenda-done {
    /* org-agenda-done */
    color: #50fa7b;
}
.org-org-agenda-filter-category {
    /* org-agenda-filter-category */
    color: #bcbdc0;
    background-color: #24292e;
}
.org-org-agenda-filter-regexp {
    /* org-agenda-filter-regexp */
    color: #bcbdc0;
    background-color: #24292e;
}
.org-org-agenda-filter-tags {
    /* org-agenda-filter-tags */
    color: #bcbdc0;
    background-color: #24292e;
}
.org-org-agenda-restriction-lock {
    /* org-agenda-restriction-lock */
    background-color: #eeeeee;
}
.org-org-agenda-structure {
    /* org-agenda-structure */
    color: #bd93f9;
}
.org-org-archived {
    /* org-archived */
    color: #333333;
    font-weight: bold;
}
.org-org-block {
    /* org-block */
    color: #ffb86c;
}
.org-org-block-background {
}
.org-org-block-begin-line {
    /* org-block-begin-line */
    color: #969896;
}
.org-org-block-end-line {
    /* org-block-end-line */
    color: #969896;
}
.org-org-checkbox {
    /* org-checkbox */
    color: #333333;
    background-color: #ffffff;
}
.org-org-checkbox-statistics-done {
    /* org-checkbox-statistics-done */
    color: #63a35c;
    font-weight: bold;
}
.org-org-checkbox-statistics-todo {
    /* org-checkbox-statistics-todo */
    color: #183691;
    background-color: #373844;
    font-weight: bold;
}
.org-org-clock-overlay {
    /* org-clock-overlay */
    background-color: #ffff00;
}
.org-org-code {
    /* org-code */
    color: #f1fa8c;
}
.org-org-column {
    /* org-column */
    background-color: #b0cde7;
}
.org-org-column-title {
    /* org-column-title */
    background-color: #b0cde7;
    font-weight: bold;
    text-decoration: underline;
}
.org-org-date {
    /* org-date */
    color: #333333;
    text-decoration: underline;
}
.org-org-date-selected {
    /* org-date-selected */
    color: #ff0000;
}
.org-org-default {
    /* org-default */
    color: #333333;
    background-color: #ffffff;
}
.org-org-document-info {
    /* org-document-info */
    color: #333333;
}
.org-org-document-info-keyword {
    /* org-document-info-keyword */
    color: #6272a4;
}
.org-org-document-title {
    /* org-document-title */
    color: #333333;
    font-size: 144%;
    font-weight: bold;
}
.org-org-done {
    /* org-done */
    color: #63a35c;
    font-weight: bold;
}
.org-org-drawer {
    /* org-drawer */
    color: #0000ff;
}
.org-org-ellipsis {
    /* org-ellipsis */
    color: #333333;
    text-decoration: underline;
}
.org-org-footnote {
    /* org-footnote */
    color: #795da3;
    text-decoration: underline;
}
.org-org-formula {
    /* org-formula */
    color: #333333;
}
.org-org-headline-done {
    /* org-headline-done */
    color: #63a35c;
    text-decoration: line-through;
}
.org-org-hide {
    /* org-hide */
    color: #b0cde7;
    background-color: #282a36;
}
.org-org-latex-and-related {
    /* org-latex-and-related */
    color: #8b4513;
}
.org-org-level-1 {
    /* org-level-1 */
    color: #333333;
    font-size: 130%;
    font-weight: bold;
}
.org-org-level-2 {
    /* org-level-2 */
    color: #0086b3;
    font-size: 110%;
    font-weight: bold;
}
.org-org-level-3 {
    /* org-level-3 */
    color: #0086b3;
}
.org-org-level-4 {
    /* org-level-4 */
    color: #333333;
}
.org-org-level-5 {
    /* org-level-5 */
    color: #795da3;
}
.org-org-level-6 {
    /* org-level-6 */
    color: #969896;
}
.org-org-level-7 {
    /* org-level-7 */
    color: #333333;
}
.org-org-level-8 {
    /* org-level-8 */
    color: #333333;
}
.org-org-link {
    /* org-link */
    color: #333333;
    text-decoration: underline;
}
.org-org-list-dt {
    /* org-list-dt */
    font-weight: bold;
}
.org-org-macro {
    /* org-macro */
    color: #8b4513;
}
.org-org-meta-line {
    /* org-meta-line */
    color: #969896;
}
.org-org-mode-line-clock {
    /* org-mode-line-clock */
    color: #333333;
    background-color: #b0cde7;
}
.org-org-mode-line-clock-overrun {
    /* org-mode-line-clock-overrun */
    color: #ffffff;
    background-color: #333333;
}
.org-org-priority {
    /* org-priority */
    color: #8be9fd;
}
.org-org-property-value {
}
.org-org-quote {
    /* org-quote */
    color: #ffb86c;
}
.org-org-scheduled {
    /* org-scheduled */
    color: #0086b3;
}
.org-org-scheduled-previously {
    /* org-scheduled-previously */
    color: #183691;
}
.org-org-scheduled-today {
    /* org-scheduled-today */
    color: #a71d5d;
}
.org-org-sexp-date {
    /* org-sexp-date */
    color: #a71d5d;
    text-decoration: underline;
}
.org-org-special-keyword {
    /* org-special-keyword */
    color: #f1fa8c;
}
.org-org-table {
    /* org-table */
    color: #969896;
}
.org-org-tag {
    /* org-tag */
    color: #ff79c6;
    background-color: #373844;
    font-weight: bold;
}
.org-org-tag-group {
    /* org-tag-group */
    color: #ff79c6;
    background-color: #373844;
    font-weight: bold;
}
.org-org-target {
    /* org-target */
    text-decoration: underline;
}
.org-org-time-grid {
    /* org-time-grid */
    color: #333333;
}
.org-org-todo {
    /* org-todo */
    color: #183691;
    background-color: #373844;
    font-weight: bold;
}
.org-org-upcoming-deadline {
    /* org-upcoming-deadline */
    color: #f1fa8c;
    font-weight: bold;
}
.org-org-verbatim {
    /* org-verbatim */
    color: #7f7f7f;
}
.org-org-verse {
    /* org-verse */
    color: #ffb86c;
}
.org-org-warning {
    /* org-warning */
    color: #183691;
    font-weight: bold;
}
.org-outline-1 {
    /* outline-1 */
    color: #333333;
}
.org-outline-2 {
    /* outline-2 */
    color: #0086b3;
}
.org-outline-3 {
    /* outline-3 */
    color: #0086b3;
}
.org-outline-4 {
    /* outline-4 */
    color: #333333;
}
.org-outline-5 {
    /* outline-5 */
    color: #795da3;
}
.org-outline-6 {
    /* outline-6 */
    color: #969896;
}
.org-outline-7 {
    /* outline-7 */
    color: #333333;
}
.org-outline-8 {
    /* outline-8 */
    color: #333333;
}
.org-package-description {
    /* package-description */
    color: #333333;
    background-color: #ffffff;
}
.org-package-name {
    /* package-name */
    color: #a71d5d;
    font-weight: bold;
    text-decoration: underline;
}
.org-package-status-avail-obso {
    /* package-status-avail-obso */
    color: #969896;
}
.org-package-status-available {
    /* package-status-available */
    color: #333333;
    background-color: #ffffff;
}
.org-package-status-built-in {
    /* package-status-built-in */
    color: #a71d5d;
}
.org-package-status-dependency {
    /* package-status-dependency */
    color: #969896;
}
.org-package-status-disabled {
    /* package-status-disabled */
    color: #333333;
    background-color: #373844;
}
.org-package-status-external {
    /* package-status-external */
    color: #a71d5d;
}
.org-package-status-held {
    /* package-status-held */
    color: #0086b3;
}
.org-package-status-incompat {
    /* package-status-incompat */
    color: #969896;
}
.org-package-status-installed {
    /* package-status-installed */
    color: #969896;
}
.org-package-status-unsigned {
    /* package-status-unsigned */
    color: #333333;
    background-color: #373844;
}
.org-page-break-lines {
    /* page-break-lines */
    color: #969896;
}
.org-preprocessor {
    /* font-lock-preprocessor-face */
    color: #a71d5d;
}
.org-query-replace {
    /* query-replace */
    color: #ffffff;
    background-color: #b0cde7;
    font-weight: bold;
}
.org-rectangle-preview {
    /* rectangle-preview */
    color: #282a36;
    background-color: #b0cde7;
}
.org-regexp-grouping-backslash {
    /* font-lock-regexp-grouping-backslash */
    color: #969896;
}
.org-regexp-grouping-construct {
    /* font-lock-regexp-grouping-construct */
    color: #a71d5d;
}
.org-region {
    /* region */
    color: #282a36;
    background-color: #b0cde7;
}
.org-scroll-bar {
}
.org-secondary-selection {
    /* secondary-selection */
    background-color: #ffffff;
}
.org-sgml-namespace {
    /* sgml-namespace */
    color: #a71d5d;
}
.org-shadow {
    /* shadow */
    color: #7f7f7f;
}
.org-show-paren-match {
    /* show-paren-match */
    color: #ffffff;
    background-color: #a71d5d;
    font-weight: bold;
}
.org-show-paren-mismatch {
    /* show-paren-mismatch */
    color: #969896;
    background-color: #ffffff;
    font-weight: bold;
}
.org-smerge-base {
    /* smerge-base */
    background-color: #ffffaa;
}
.org-smerge-markers {
    /* smerge-markers */
    background-color: #d9d9d9;
}
.org-smerge-mine {
    /* smerge-mine */
    background-color: #ffdddd;
}
.org-smerge-other {
    /* smerge-other */
    background-color: #ddffdd;
}
.org-smerge-refined-added {
    /* smerge-refined-added */
    background-color: #aaffaa;
}
.org-smerge-refined-changed {
}
.org-smerge-refined-removed {
    /* smerge-refined-removed */
    background-color: #ffbbbb;
}
.org-string {
    /* font-lock-string-face */
    color: #183691;
}
.org-success {
    /* success */
    color: #969896;
    font-weight: bold;
}
.org-term {
    /* term */
    color: #f8f8f2;
    background-color: #282a36;
}
.org-term-bold {
    /* term-bold */
    font-weight: bold;
}
.org-term-color-black {
    /* term-color-black */
    color: #ffffff;
    background-color: #b0cde7;
}
.org-term-color-blue {
    /* term-color-blue */
    color: #0086b3;
    background-color: #969896;
}
.org-term-color-cyan {
    /* term-color-cyan */
    color: #795da3;
    background-color: #969896;
}
.org-term-color-green {
    /* term-color-green */
    color: #969896;
    background-color: #969896;
}
.org-term-color-magenta {
    /* term-color-magenta */
    color: #969896;
    background-color: #183691;
}
.org-term-color-red {
    /* term-color-red */
    color: #969896;
    background-color: #969896;
}
.org-term-color-white {
    /* term-color-white */
    color: #969896;
    background-color: #969896;
}
.org-term-color-yellow {
    /* term-color-yellow */
    color: #969896;
    background-color: #a71d5d;
}
.org-term-underline {
    /* term-underline */
    text-decoration: underline;
}
.org-tool-bar {
    /* tool-bar */
    color: #000000;
    background-color: #bfbfbf;
}
.org-tooltip {
    /* tooltip */
    color: #333333;
    background-color: #ffffff;
}
.org-trailing-whitespace {
    /* trailing-whitespace */
    background-color: #183691;
}
.org-tty-menu-disabled {
    /* tty-menu-disabled-face */
    color: #d3d3d3;
    background-color: #0000ff;
}
.org-tty-menu-enabled {
    /* tty-menu-enabled-face */
    color: #ffff00;
    background-color: #0000ff;
    font-weight: bold;
}
.org-tty-menu-selected {
    /* tty-menu-selected-face */
    background-color: #ff0000;
}
.org-type {
    /* font-lock-type-face */
    color: #0086b3;
}
.org-underline {
    /* underline */
    text-decoration: underline;
}
.org-undo-tree-visualizer-active-branch {
    /* undo-tree-visualizer-active-branch-face */
    color: #969896;
    font-weight: bold;
}
.org-undo-tree-visualizer-current {
    /* undo-tree-visualizer-current-face */
    color: #969896;
    font-weight: bold;
}
.org-undo-tree-visualizer-default {
    /* undo-tree-visualizer-default-face */
    color: #969896;
}
.org-undo-tree-visualizer-register {
    /* undo-tree-visualizer-register-face */
    color: #a71d5d;
}
.org-undo-tree-visualizer-unmodified {
    /* undo-tree-visualizer-unmodified-face */
    color: #795da3;
}
.org-variable-name {
    /* font-lock-variable-name-face */
    /*color: #333333;*/
}
.org-variable-pitch {
}
.org-vc-conflict-state {
}
.org-vc-edited-state {
}
.org-vc-locally-added-state {
}
.org-vc-locked-state {
}
.org-vc-missing-state {
}
.org-vc-needs-update-state {
}
.org-vc-removed-state {
}
.org-vc-state-base {
}
.org-vc-up-to-date-state {
}
.org-vertical-border {
    /* vertical-border */
    color: #d0d0d0;
}
.org-warning {
    /* warning */
    color: #333333;
    font-weight: bold;
}
.org-warning-1 {
    /* font-lock-warning-face */
    color: #333333;
    background-color: #373844;
}
.org-which-key-command-description {
    /* which-key-command-description-face */
    color: #795da3;
    font-weight: bold;
}
.org-which-key-group-description {
    /* which-key-group-description-face */
    color: #a71d5d;
    font-weight: bold;
}
.org-which-key-highlighted-command {
    /* which-key-highlighted-command-face */
    color: #795da3;
    font-weight: bold;
    text-decoration: underline;
}
.org-which-key-key {
    /* which-key-key-face */
    color: #0086b3;
}
.org-which-key-local-map-description {
    /* which-key-local-map-description-face */
    color: #795da3;
    font-weight: bold;
}
.org-which-key-note {
    /* which-key-note-face */
    color: #969896;
}
.org-which-key-separator {
    /* which-key-separator-face */
    color: #969896;
}
.org-which-key-special-key {
    /* which-key-special-key-face */
    color: #0086b3;
    font-weight: bold;
}
.org-window-divider {
    /* window-divider */
    color: #999999;
}
.org-window-divider-first-pixel {
    /* window-divider-first-pixel */
    color: #cccccc;
}
.org-window-divider-last-pixel {
    /* window-divider-last-pixel */
    color: #666666;
}

a {
    background-color: inherit;
    font: inherit;
    text-decoration: inherit;
}
a:hover {
    text-decoration: underline;
}
-->
</style>
<!--
body {
    color: #333333;
    background-color: #ffffff;
}
.org-bold {
    /* bold */
    font-weight: bold;
}
.org-bold-italic {
    /* bold-italic */
    font-weight: bold;
    font-style: italic;
}
.org-border {
}
.org-buffer-menu-buffer {
    /* buffer-menu-buffer */
    font-weight: bold;
}
.org-builtin {
    /* font-lock-builtin-face */
    color: #a71d5d;
}
.org-button {
    /* button */
    text-decoration: underline;
}
.org-c-annotation {
    /* c-annotation-face */
    color: #0086b3;
}
.org-c-nonbreakable-space {
    /* c-nonbreakable-space-face */
    color: #373844;
    background-color: #ffb86c;
}
.org-calendar-month-header {
    /* calendar-month-header */
    color: #795da3;
    font-weight: bold;
}
.org-calendar-today {
    /* calendar-today */
    text-decoration: underline;
}
.org-calendar-weekday-header {
    /* calendar-weekday-header */
    color: #0086b3;
}
.org-calendar-weekend-header {
    /* calendar-weekend-header */
    color: #969896;
}
.org-change-log-acknowledgment {
    /* change-log-acknowledgment */
    color: #969896;
}
.org-change-log-conditionals {
    /* change-log-conditionals */
    color: #333333;
}
.org-change-log-date {
    /* change-log-date */
    color: #183691;
}
.org-change-log-email {
    /* change-log-email */
    color: #333333;
}
.org-change-log-file {
    /* change-log-file */
    color: #795da3;
    font-weight: bold;
}
.org-change-log-function {
    /* change-log-function */
    color: #333333;
}
.org-change-log-list {
    /* change-log-list */
    color: #a71d5d;
    font-weight: bold;
}
.org-change-log-name {
    /* change-log-name */
    color: #0086b3;
}
.org-comint-highlight-input {
    /* comint-highlight-input */
    font-weight: bold;
}
.org-comint-highlight-prompt {
    /* comint-highlight-prompt */
    color: #a71d5d;
    font-weight: bold;
}
.org-comment {
    /* font-lock-comment-face */
    color: #969896;
}
.org-comment-delimiter {
    /* font-lock-comment-delimiter-face */
    color: #969896;
}
.org-completions-annotations {
    /* completions-annotations */
    color: #333333;
}
.org-completions-common-part {
}
.org-completions-first-difference {
    /* completions-first-difference */
    font-weight: bold;
}
.org-constant {
    /* font-lock-constant-face */
    color: #0086b3;
}
.org-cursor {
    /* cursor */
    color: #333333;
    background-color: #333333;
}
.org-diary {
    /* diary */
    color: #ff0000;
}
.org-diff-added {
    /* diff-added */
    color: #333333;
    background-color: #eaffea;
}
.org-diff-changed {
    /* diff-changed */
    color: #333333;
    background-color: #f8cca9;
}
.org-diff-context {
    /* diff-context */
    color: #333333;
}
.org-diff-file-header {
    /* diff-file-header */
    color: #333333;
    background-color: #ffffff;
    font-weight: bold;
}
.org-diff-function {
    /* diff-function */
    background-color: #ffffff;
}
.org-diff-header {
    /* diff-header */
    background-color: #ffffff;
}
.org-diff-hunk-header {
    /* diff-hunk-header */
    background-color: #ffffff;
}
.org-diff-index {
    /* diff-index */
    color: #333333;
    background-color: #ffffff;
    font-weight: bold;
}
.org-diff-indicator-added {
    /* diff-indicator-added */
    color: #333333;
    background-color: #eaffea;
}
.org-diff-indicator-changed {
    /* diff-indicator-changed */
    color: #333333;
    background-color: #f8cca9;
}
.org-diff-indicator-removed {
    /* diff-indicator-removed */
    color: #333333;
    background-color: #ffecec;
}
.org-diff-nonexistent {
    /* diff-nonexistent */
    color: #333333;
    background-color: #ffffff;
    font-weight: bold;
}
.org-diff-refine-added {
    /* diff-refine-added */
    color: #333333;
    background-color: #a6f3a6;
}
.org-diff-refine-changed {
    /* diff-refine-changed */
    color: #333333;
    background-color: #f6dac3;
}
.org-diff-refine-removed {
    /* diff-refine-removed */
    color: #333333;
    background-color: #f8cbcb;
}
.org-diff-removed {
    /* diff-removed */
    color: #333333;
    background-color: #ffecec;
}
.org-dired-directory {
    /* dired-directory */
    color: #50fa7b;
}
.org-dired-flagged {
    /* dired-flagged */
    color: #ff79c6;
}
.org-dired-header {
    /* dired-header */
    color: #ccccc7;
    background-color: #282a36;
}
.org-dired-ignored {
    /* dired-ignored */
    color: #7f7f7f;
}
.org-dired-mark {
    /* dired-mark */
    color: #f8f8f2;
    font-weight: bold;
}
.org-dired-marked {
    /* dired-marked */
    color: #ffb86c;
    font-weight: bold;
}
.org-dired-perm-write {
    /* dired-perm-write */
    color: #ccccc7;
    text-decoration: underline;
}
.org-dired-symlink {
    /* dired-symlink */
    color: #f1fa8c;
    font-style: italic;
}
.org-dired-warning {
    /* dired-warning */
    color: #ffb86c;
    text-decoration: underline;
}
.org-doc {
    /* font-lock-doc-face */
    color: #183691;
}
.org-eldoc-highlight-function-argument {
    /* eldoc-highlight-function-argument */
    font-weight: bold;
}
.org-error {
    /* error */
    color: #ff0000;
    font-weight: bold;
}
.org-escape-glyph {
    /* escape-glyph */
    color: #a71d5d;
    font-weight: bold;
}
.org-evil-ex-commands {
    /* evil-ex-commands */
    font-style: italic;
    text-decoration: underline;
}
.org-evil-ex-info {
    /* evil-ex-info */
    color: #ff0000;
    font-style: italic;
}
.org-evil-ex-lazy-highlight {
    /* evil-ex-lazy-highlight */
    color: #333333;
    background-color: #f8eec7;
    font-weight: bold;
}
.org-evil-ex-search {
    /* evil-ex-search */
    color: #ffffff;
    background-color: #b0cde7;
    font-weight: bold;
}
.org-evil-ex-substitute-matches {
    /* evil-ex-substitute-matches */
    color: #333333;
    background-color: #f8eec7;
    font-weight: bold;
}
.org-evil-ex-substitute-replacement {
    /* evil-ex-substitute-replacement */
    color: #ff0000;
    text-decoration: underline;
}
.org-ffap {
    /* ffap */
    color: #b6b6b2;
}
.org-file-name-shadow {
    /* file-name-shadow */
    color: #7f7f7f;
}
.org-fixed-pitch {
}
.org-fixed-pitch-serif {
}
.org-flyspell-duplicate {
    /* flyspell-duplicate */
    text-decoration: underline;
}
.org-flyspell-incorrect {
    /* flyspell-incorrect */
    text-decoration: underline;
}
.org-fringe {
    /* fringe */
    color: #333333;
    background-color: #ffffff;
}
.org-function-name {
    /* font-lock-function-name-face */
    color: #795da3;
    font-weight: bold;
}
.org-git-commit-comment-action {
    /* git-commit-comment-action */
    color: #333333;
    font-weight: bold;
}
.org-git-commit-comment-branch-local {
    /* git-commit-comment-branch-local */
    color: #a71d5d;
    font-weight: bold;
}
.org-git-commit-comment-branch-remote {
    /* git-commit-comment-branch-remote */
    color: #333333;
}
.org-git-commit-comment-detached {
    /* git-commit-comment-detached */
    color: #a71d5d;
    font-weight: bold;
}
.org-git-commit-comment-file {
    /* git-commit-comment-file */
    color: #183691;
}
.org-git-commit-comment-heading {
    /* git-commit-comment-heading */
    color: #a71d5d;
    font-weight: bold;
}
.org-git-commit-known-pseudo-header {
    /* git-commit-known-pseudo-header */
    color: #a71d5d;
    font-weight: bold;
}
.org-git-commit-nonempty-second-line {
    /* git-commit-nonempty-second-line */
    color: #333333;
    background-color: #373844;
}
.org-git-commit-note {
    /* git-commit-note */
    color: #183691;
}
.org-git-commit-overlong-summary {
    /* git-commit-overlong-summary */
    color: #333333;
    background-color: #373844;
}
.org-git-commit-pseudo-header {
    /* git-commit-pseudo-header */
    color: #183691;
}
.org-git-commit-summary {
    /* git-commit-summary */
    color: #0086b3;
}
.org-glyphless-char {
    /* glyphless-char */
    font-size: 60%;
}
.org-header-line {
    /* header-line */
    color: #a71d5d;
    background-color: #b0cde7;
}
.org-help-argument-name {
    /* help-argument-name */
    font-style: italic;
}
.org-highlight {
    /* highlight */
    color: #ccccc7;
    background-color: #f8eec7;
}
.org-holiday {
    /* holiday */
    background-color: #ffc0cb;
}
.org-ido-first-match {
    /* ido-first-match */
    color: #a71d5d;
    font-weight: bold;
}
.org-ido-incomplete-regexp {
    /* ido-incomplete-regexp */
    color: #333333;
    background-color: #373844;
}
.org-ido-indicator {
    /* ido-indicator */
    color: #a71d5d;
    background-color: #333333;
}
.org-ido-only-match {
    /* ido-only-match */
    color: #333333;
    font-weight: bold;
}
.org-ido-subdir {
    /* ido-subdir */
    color: #a71d5d;
}
.org-ido-virtual {
    /* ido-virtual */
    color: #a71d5d;
}
.org-info-header-node {
    /* info-header-node */
    color: #a52a2a;
    font-weight: bold;
    font-style: italic;
}
.org-info-header-xref {
    /* info-header-xref */
    color: #a71d5d;
    font-weight: bold;
    text-decoration: underline;
}
.org-info-index-match {
    /* info-index-match */
    color: #333333;
    background-color: #b0cde7;
    font-weight: bold;
}
.org-info-menu-header {
    /* info-menu-header */
    font-weight: bold;
}
.org-info-menu-star {
    /* info-menu-star */
    color: #ff0000;
}
.org-info-node {
    /* info-node */
    color: #a52a2a;
    font-weight: bold;
    font-style: italic;
}
.org-info-quoted {
    /* Info-quoted */
    color: #0086b3;
}
.org-info-title-1 {
    /* info-title-1 */
    font-size: 172%;
    font-weight: bold;
}
.org-info-title-2 {
    /* info-title-2 */
    font-size: 144%;
    font-weight: bold;
}
.org-info-title-3 {
    /* info-title-3 */
    font-size: 120%;
    font-weight: bold;
}
.org-info-title-4 {
    /* info-title-4 */
    font-weight: bold;
}
.org-info-xref {
    /* info-xref */
    color: #a71d5d;
    font-weight: bold;
    text-decoration: underline;
}
.org-isearch {
    /* isearch */
    color: #ffffff;
    background-color: #b0cde7;
    font-weight: bold;
}
.org-isearch-fail {
    /* isearch-fail */
    color: #d0d0d0;
    background-color: #ffffff;
}
.org-italic {
    /* italic */
    font-style: italic;
}
.org-ivy-action {
    /* ivy-action */
    color: #a71d5d;
}
.org-ivy-confirm {
    /* ivy-confirm-face */
    color: #969896;
    background-color: #ffffff;
}
.org-ivy-current-match {
    /* ivy-current-match */
    color: #a71d5d;
    font-weight: bold;
    text-decoration: underline;
}
.org-ivy-cursor {
    /* ivy-cursor */
    color: #ffffff;
    background-color: #000000;
}
.org-ivy-highlight {
    /* ivy-highlight-face */
    color: #ccccc7;
    background-color: #f8eec7;
}
.org-ivy-match-required {
    /* ivy-match-required-face */
    color: #183691;
    background-color: #ffffff;
}
.org-ivy-minibuffer-match-face-1 {
    /* ivy-minibuffer-match-face-1 */
    background-color: #ffffff;
}
.org-ivy-minibuffer-match-face-2 {
    /* ivy-minibuffer-match-face-2 */
    background-color: #969896;
}
.org-ivy-minibuffer-match-face-3 {
    /* ivy-minibuffer-match-face-3 */
    background-color: #969896;
}
.org-ivy-minibuffer-match-face-4 {
    /* ivy-minibuffer-match-face-4 */
    background-color: #333333;
}
.org-ivy-minibuffer-match-highlight {
    /* ivy-minibuffer-match-highlight */
    color: #ccccc7;
    background-color: #f8eec7;
}
.org-ivy-modified-buffer {
    /* ivy-modified-buffer */
    color: #333333;
    background-color: #ffffff;
}
.org-ivy-prompt-match {
    /* ivy-prompt-match */
    color: #a71d5d;
    font-weight: bold;
    text-decoration: underline;
}
.org-ivy-remote {
    /* ivy-remote */
    color: #333333;
    background-color: #ffffff;
}
.org-ivy-subdir {
    /* ivy-subdir */
    color: #a71d5d;
    background-color: #ffffff;
}
.org-ivy-virtual {
    /* ivy-virtual */
    color: #a71d5d;
}
.org-keyword {
    /* font-lock-keyword-face */
    color: #a71d5d;
    font-weight: bold;
}
.org-lazy-highlight {
    /* lazy-highlight */
    color: #333333;
    background-color: #f8eec7;
    font-weight: bold;
}
.org-link {
    /* link */
    color: #a71d5d;
    font-weight: bold;
    text-decoration: underline;
}
.org-link-visited {
    /* link-visited */
    color: #333333;
    text-decoration: underline;
}
.org-linum {
    /* linum */
    color: #969896;
    background-color: #ffffff;
    font-style: italic;
}
.org-log-edit-header {
    /* log-edit-header */
    color: #a71d5d;
    font-weight: bold;
}
.org-log-edit-summary {
    /* log-edit-summary */
    color: #795da3;
    font-weight: bold;
}
.org-log-edit-unknown-header {
    /* log-edit-unknown-header */
    color: #969896;
}
.org-magit-bisect-bad {
    /* magit-bisect-bad */
    color: #183691;
}
.org-magit-bisect-good {
    /* magit-bisect-good */
    color: #969896;
}
.org-magit-bisect-skip {
    /* magit-bisect-skip */
    color: #a71d5d;
}
.org-magit-blame-date {
    /* magit-blame-date */
    color: #333333;
    background-color: #b0cde7;
}
.org-magit-blame-hash {
    /* magit-blame-hash */
    color: #333333;
    background-color: #b0cde7;
}
.org-magit-blame-heading {
    /* magit-blame-heading */
    color: #333333;
    background-color: #b0cde7;
}
.org-magit-blame-name {
    /* magit-blame-name */
    color: #333333;
    background-color: #b0cde7;
}
.org-magit-blame-summary {
    /* magit-blame-summary */
    color: #333333;
    background-color: #b0cde7;
    font-weight: bold;
}
.org-magit-branch-current {
    /* magit-branch-current */
    color: #333333;
    font-weight: bold;
}
.org-magit-branch-local {
    /* magit-branch-local */
    color: #333333;
    font-weight: bold;
}
.org-magit-branch-remote {
    /* magit-branch-remote */
    color: #969896;
    font-weight: bold;
}
.org-magit-branch-remote-head {
    /* magit-branch-remote-head */
    color: #969896;
    font-weight: bold;
}
.org-magit-cherry-equivalent {
    /* magit-cherry-equivalent */
    color: #333333;
}
.org-magit-cherry-unmatched {
    /* magit-cherry-unmatched */
    color: #795da3;
}
.org-magit-diff-added {
    /* magit-diff-added */
    color: #22aa22;
    background-color: #ddffdd;
}
.org-magit-diff-added-highlight {
    /* magit-diff-added-highlight */
    color: #22aa22;
    background-color: #cceecc;
}
.org-magit-diff-base {
    /* magit-diff-base */
    color: #aaaa11;
    background-color: #ffffcc;
}
.org-magit-diff-base-highlight {
    /* magit-diff-base-highlight */
    color: #aaaa11;
    background-color: #eeeebb;
}
.org-magit-diff-conflict-heading {
    /* magit-diff-conflict-heading */
    background-color: #ffffff;
}
.org-magit-diff-context {
    /* magit-diff-context */
    color: #7f7f7f;
}
.org-magit-diff-context-highlight {
    /* magit-diff-context-highlight */
    color: #b3b3b3;
    background-color: #ffffff;
}
.org-magit-diff-file-heading {
    /* magit-diff-file-heading */
    font-weight: bold;
}
.org-magit-diff-file-heading-highlight {
    /* magit-diff-file-heading-highlight */
    background-color: #ffffff;
    font-weight: bold;
}
.org-magit-diff-file-heading-selection {
    /* magit-diff-file-heading-selection */
    color: #333333;
    background-color: #ffffff;
    font-weight: bold;
}
.org-magit-diff-hunk-heading {
    /* magit-diff-hunk-heading */
    background-color: #ffffff;
}
.org-magit-diff-hunk-heading-highlight {
    /* magit-diff-hunk-heading-highlight */
    background-color: #ffffff;
}
.org-magit-diff-hunk-heading-selection {
    /* magit-diff-hunk-heading-selection */
    color: #333333;
    background-color: #ffffff;
}
.org-magit-diff-hunk-region {
    /* magit-diff-hunk-region */
    font-weight: bold;
}
.org-magit-diff-lines-boundary {
    /* magit-diff-lines-boundary */
    color: #ffffff;
    background-color: #333333;
}
.org-magit-diff-lines-heading {
    /* magit-diff-lines-heading */
    color: #ffffff;
    background-color: #333333;
}
.org-magit-diff-our {
    /* magit-diff-our */
    color: #aa2222;
    background-color: #ffdddd;
}
.org-magit-diff-our-highlight {
    /* magit-diff-our-highlight */
    color: #aa2222;
    background-color: #eecccc;
}
.org-magit-diff-removed {
    /* magit-diff-removed */
    color: #aa2222;
    background-color: #ffdddd;
}
.org-magit-diff-removed-highlight {
    /* magit-diff-removed-highlight */
    color: #aa2222;
    background-color: #eecccc;
}
.org-magit-diff-their {
    /* magit-diff-their */
    color: #22aa22;
    background-color: #ddffdd;
}
.org-magit-diff-their-highlight {
    /* magit-diff-their-highlight */
    color: #22aa22;
    background-color: #cceecc;
}
.org-magit-diff-whitespace-warning {
    /* magit-diff-whitespace-warning */
    background-color: #183691;
}
.org-magit-diffstat-added {
    /* magit-diffstat-added */
    color: #0086b3;
}
.org-magit-diffstat-removed {
    /* magit-diffstat-removed */
    color: #183691;
}
.org-magit-dimmed {
    /* magit-dimmed */
    color: #333333;
}
.org-magit-filename {
}
.org-magit-hash {
    /* magit-hash */
    color: #333333;
}
.org-magit-head {
    /* magit-head */
    color: #333333;
    font-weight: bold;
}
.org-magit-header-line {
    /* magit-header-line */
    color: #a71d5d;
    font-weight: bold;
}
.org-magit-header-line-key {
    /* magit-header-line-key */
    color: #969896;
    font-weight: bold;
}
.org-magit-header-line-log-select {
    /* magit-header-line-log-select */
    font-weight: bold;
}
.org-magit-keyword {
    /* magit-keyword */
    color: #183691;
}
.org-magit-log-author {
    /* magit-log-author */
    color: #333333;
}
.org-magit-log-date {
    /* magit-log-date */
    color: #333333;
}
.org-magit-log-graph {
    /* magit-log-graph */
    color: #333333;
}
.org-magit-mode-line-process {
    /* magit-mode-line-process */
    font-weight: bold;
}
.org-magit-popup-argument {
    /* magit-popup-argument */
    color: #969896;
    font-weight: bold;
}
.org-magit-popup-disabled-argument {
    /* magit-popup-disabled-argument */
    color: #333333;
}
.org-magit-popup-heading {
    /* magit-popup-heading */
    color: #a71d5d;
    font-weight: bold;
}
.org-magit-popup-key {
    /* magit-popup-key */
    color: #969896;
    font-weight: bold;
}
.org-magit-popup-option-value {
    /* magit-popup-option-value */
    color: #333333;
    font-weight: bold;
}
.org-magit-process-ng {
    /* magit-process-ng */
    color: #183691;
    font-weight: bold;
}
.org-magit-process-ok {
    /* magit-process-ok */
    color: #969896;
    font-weight: bold;
}
.org-magit-reflog-amend {
    /* magit-reflog-amend */
    color: #333333;
}
.org-magit-reflog-checkout {
    /* magit-reflog-checkout */
    color: #333333;
}
.org-magit-reflog-cherry-pick {
    /* magit-reflog-cherry-pick */
    color: #969896;
}
.org-magit-reflog-commit {
    /* magit-reflog-commit */
    color: #969896;
}
.org-magit-reflog-merge {
    /* magit-reflog-merge */
    color: #969896;
}
.org-magit-reflog-other {
    /* magit-reflog-other */
    color: #795da3;
}
.org-magit-reflog-rebase {
    /* magit-reflog-rebase */
    color: #333333;
}
.org-magit-reflog-remote {
    /* magit-reflog-remote */
    color: #795da3;
}
.org-magit-reflog-reset {
    /* magit-reflog-reset */
    color: #183691;
}
.org-magit-refname {
    /* magit-refname */
    color: #333333;
    background-color: #ffffff;
    font-weight: bold;
}
.org-magit-refname-stash {
    /* magit-refname-stash */
    color: #333333;
    background-color: #ffffff;
    font-weight: bold;
}
.org-magit-refname-wip {
    /* magit-refname-wip */
    color: #333333;
    background-color: #ffffff;
    font-weight: bold;
}
.org-magit-section-heading {
    /* magit-section-heading */
    color: #a71d5d;
    font-weight: bold;
}
.org-magit-section-heading-selection {
    /* magit-section-heading-selection */
    color: #333333;
    font-weight: bold;
}
.org-magit-section-highlight {
    /* magit-section-highlight */
    background-color: #ffffff;
}
.org-magit-section-secondary-heading {
    /* magit-section-secondary-heading */
    font-weight: bold;
}
.org-magit-sequence-done {
    /* magit-sequence-done */
    color: #333333;
}
.org-magit-sequence-drop {
    /* magit-sequence-drop */
    color: #183691;
}
.org-magit-sequence-exec {
    /* magit-sequence-exec */
    color: #333333;
}
.org-magit-sequence-head {
    /* magit-sequence-head */
    color: #333333;
}
.org-magit-sequence-onto {
    /* magit-sequence-onto */
    color: #333333;
}
.org-magit-sequence-part {
    /* magit-sequence-part */
    color: #a71d5d;
}
.org-magit-sequence-pick {
    /* magit-sequence-pick */
    color: #333333;
}
.org-magit-sequence-stop {
    /* magit-sequence-stop */
    color: #969896;
}
.org-magit-signature-bad {
    /* magit-signature-bad */
    color: #183691;
}
.org-magit-signature-error {
    /* magit-signature-error */
    color: #cd2626;
}
.org-magit-signature-expired {
    /* magit-signature-expired */
    color: #ffa500;
}
.org-magit-signature-expired-key {
    /* magit-signature-expired-key */
    color: #ffa500;
}
.org-magit-signature-good {
    /* magit-signature-good */
    color: #969896;
}
.org-magit-signature-revoked {
    /* magit-signature-revoked */
    color: #d02090;
}
.org-magit-signature-untrusted {
    /* magit-signature-untrusted */
    color: #a71d5d;
}
.org-magit-tag {
    /* magit-tag */
    color: #333333;
    font-weight: bold;
}
.org-match {
    /* match */
    color: #333333;
    background-color: #b0cde7;
    font-weight: bold;
}
.org-menu {
    /* menu */
    color: #333333;
    background-color: #ffffff;
}
.org-message-cited-text {
    /* message-cited-text */
    color: #969896;
}
.org-message-header-cc {
    /* message-header-cc */
    color: #a71d5d;
    font-weight: bold;
}
.org-message-header-name {
    /* message-header-name */
    color: #333333;
}
.org-message-header-newsgroups {
    /* message-header-newsgroups */
    color: #a71d5d;
    font-weight: bold;
}
.org-message-header-other {
    /* message-header-other */
    color: #969896;
}
.org-message-header-subject {
    /* message-header-subject */
    color: #333333;
    font-weight: bold;
}
.org-message-header-to {
    /* message-header-to */
    color: #a71d5d;
    font-weight: bold;
}
.org-message-header-xheader {
    /* message-header-xheader */
    color: #969896;
}
.org-message-mml {
    /* message-mml */
    color: #a71d5d;
    font-weight: bold;
}
.org-message-separator {
    /* message-separator */
    color: #969896;
}
.org-minibuffer-prompt {
    /* minibuffer-prompt */
    color: #a71d5d;
    font-weight: bold;
}
.org-mm-command-output {
    /* mm-command-output */
    color: #cd0000;
}
.org-mode-line {
    /* mode-line */
    color: #bcbdc0;
    background-color: #24292e;
}
.org-mode-line-buffer-id {
    /* mode-line-buffer-id */
    color: #ffffff;
    font-weight: bold;
}
.org-mode-line-emphasis {
    /* mode-line-emphasis */
    font-weight: bold;
}
.org-mode-line-highlight {
}
.org-mode-line-inactive {
    /* mode-line-inactive */
    color: #969896;
    background-color: #ffffff;
}
.org-mouse {
}
.org-negation-char {
    /* font-lock-negation-char-face */
    color: #a71d5d;
}
.org-next-error {
    /* next-error */
    color: #282a36;
    background-color: #b0cde7;
}
.org-nobreak-space {
    /* nobreak-space */
    color: #a71d5d;
    font-weight: bold;
    text-decoration: underline;
}
.org-org-agenda-calendar-event {
    /* org-agenda-calendar-event */
    color: #333333;
    background-color: #ffffff;
}
.org-org-agenda-calendar-sexp {
    /* org-agenda-calendar-sexp */
    color: #333333;
    background-color: #ffffff;
}
.org-org-agenda-clocking {
    /* org-agenda-clocking */
    background-color: #f8eec7;
    font-weight: bold;
}
.org-org-agenda-column-dateline {
    /* org-agenda-column-dateline */
    background-color: #b0cde7;
}
.org-org-agenda-current-time {
    /* org-agenda-current-time */
    color: #333333;
}
.org-org-agenda-date {
    /* org-agenda-date */
    color: #bd93f9;
}
.org-org-agenda-date-today {
    /* org-agenda-date-today */
    color: #333333;
    font-weight: bold;
    font-style: italic;
}
.org-org-agenda-date-weekend {
    /* org-agenda-date-weekend */
    color: #bd93f9;
    font-weight: bold;
}
.org-org-agenda-diary {
    /* org-agenda-diary */
    color: #333333;
    background-color: #ffffff;
}
.org-org-agenda-dimmed-todo {
    /* org-agenda-dimmed-todo-face */
    color: #6272a4;
}
.org-org-agenda-done {
    /* org-agenda-done */
    color: #50fa7b;
}
.org-org-agenda-filter-category {
    /* org-agenda-filter-category */
    color: #bcbdc0;
    background-color: #24292e;
}
.org-org-agenda-filter-regexp {
    /* org-agenda-filter-regexp */
    color: #bcbdc0;
    background-color: #24292e;
}
.org-org-agenda-filter-tags {
    /* org-agenda-filter-tags */
    color: #bcbdc0;
    background-color: #24292e;
}
.org-org-agenda-restriction-lock {
    /* org-agenda-restriction-lock */
    background-color: #eeeeee;
}
.org-org-agenda-structure {
    /* org-agenda-structure */
    color: #bd93f9;
}
.org-org-archived {
    /* org-archived */
    color: #333333;
    font-weight: bold;
}
.org-org-block {
    /* org-block */
    color: #ffb86c;
}
.org-org-block-background {
}
.org-org-block-begin-line {
    /* org-block-begin-line */
    color: #969896;
}
.org-org-block-end-line {
    /* org-block-end-line */
    color: #969896;
}
.org-org-checkbox {
    /* org-checkbox */
    color: #333333;
    background-color: #ffffff;
}
.org-org-checkbox-statistics-done {
    /* org-checkbox-statistics-done */
    color: #63a35c;
    font-weight: bold;
}
.org-org-checkbox-statistics-todo {
    /* org-checkbox-statistics-todo */
    color: #183691;
    background-color: #373844;
    font-weight: bold;
}
.org-org-clock-overlay {
    /* org-clock-overlay */
    background-color: #ffff00;
}
.org-org-code {
    /* org-code */
    color: #f1fa8c;
}
.org-org-column {
    /* org-column */
    background-color: #b0cde7;
}
.org-org-column-title {
    /* org-column-title */
    background-color: #b0cde7;
    font-weight: bold;
    text-decoration: underline;
}
.org-org-date {
    /* org-date */
    color: #333333;
    text-decoration: underline;
}
.org-org-date-selected {
    /* org-date-selected */
    color: #ff0000;
}
.org-org-default {
    /* org-default */
    color: #333333;
    background-color: #ffffff;
}
.org-org-document-info {
    /* org-document-info */
    color: #333333;
}
.org-org-document-info-keyword {
    /* org-document-info-keyword */
    color: #6272a4;
}
.org-org-document-title {
    /* org-document-title */
    color: #333333;
    font-size: 144%;
    font-weight: bold;
}
.org-org-done {
    /* org-done */
    color: #63a35c;
    font-weight: bold;
}
.org-org-drawer {
    /* org-drawer */
    color: #0000ff;
}
.org-org-ellipsis {
    /* org-ellipsis */
    color: #333333;
    text-decoration: underline;
}
.org-org-footnote {
    /* org-footnote */
    color: #795da3;
    text-decoration: underline;
}
.org-org-formula {
    /* org-formula */
    color: #333333;
}
.org-org-headline-done {
    /* org-headline-done */
    color: #63a35c;
    text-decoration: line-through;
}
.org-org-hide {
    /* org-hide */
    color: #b0cde7;
    background-color: #282a36;
}
.org-org-latex-and-related {
    /* org-latex-and-related */
    color: #8b4513;
}
.org-org-level-1 {
    /* org-level-1 */
    color: #333333;
    font-size: 130%;
    font-weight: bold;
}
.org-org-level-2 {
    /* org-level-2 */
    color: #0086b3;
    font-size: 110%;
    font-weight: bold;
}
.org-org-level-3 {
    /* org-level-3 */
    color: #0086b3;
}
.org-org-level-4 {
    /* org-level-4 */
    color: #333333;
}
.org-org-level-5 {
    /* org-level-5 */
    color: #795da3;
}
.org-org-level-6 {
    /* org-level-6 */
    color: #969896;
}
.org-org-level-7 {
    /* org-level-7 */
    color: #333333;
}
.org-org-level-8 {
    /* org-level-8 */
    color: #333333;
}
.org-org-link {
    /* org-link */
    color: #333333;
    text-decoration: underline;
}
.org-org-list-dt {
    /* org-list-dt */
    font-weight: bold;
}
.org-org-macro {
    /* org-macro */
    color: #8b4513;
}
.org-org-meta-line {
    /* org-meta-line */
    color: #969896;
}
.org-org-mode-line-clock {
    /* org-mode-line-clock */
    color: #333333;
    background-color: #b0cde7;
}
.org-org-mode-line-clock-overrun {
    /* org-mode-line-clock-overrun */
    color: #ffffff;
    background-color: #333333;
}
.org-org-priority {
    /* org-priority */
    color: #8be9fd;
}
.org-org-property-value {
}
.org-org-quote {
    /* org-quote */
    color: #ffb86c;
}
.org-org-scheduled {
    /* org-scheduled */
    color: #0086b3;
}
.org-org-scheduled-previously {
    /* org-scheduled-previously */
    color: #183691;
}
.org-org-scheduled-today {
    /* org-scheduled-today */
    color: #a71d5d;
}
.org-org-sexp-date {
    /* org-sexp-date */
    color: #a71d5d;
    text-decoration: underline;
}
.org-org-special-keyword {
    /* org-special-keyword */
    color: #f1fa8c;
}
.org-org-table {
    /* org-table */
    color: #969896;
}
.org-org-tag {
    /* org-tag */
    color: #ff79c6;
    background-color: #373844;
    font-weight: bold;
}
.org-org-tag-group {
    /* org-tag-group */
    color: #ff79c6;
    background-color: #373844;
    font-weight: bold;
}
.org-org-target {
    /* org-target */
    text-decoration: underline;
}
.org-org-time-grid {
    /* org-time-grid */
    color: #333333;
}
.org-org-todo {
    /* org-todo */
    color: #183691;
    background-color: #373844;
    font-weight: bold;
}
.org-org-upcoming-deadline {
    /* org-upcoming-deadline */
    color: #f1fa8c;
    font-weight: bold;
}
.org-org-verbatim {
    /* org-verbatim */
    color: #7f7f7f;
}
.org-org-verse {
    /* org-verse */
    color: #ffb86c;
}
.org-org-warning {
    /* org-warning */
    color: #183691;
    font-weight: bold;
}
.org-outline-1 {
    /* outline-1 */
    color: #333333;
}
.org-outline-2 {
    /* outline-2 */
    color: #0086b3;
}
.org-outline-3 {
    /* outline-3 */
    color: #0086b3;
}
.org-outline-4 {
    /* outline-4 */
    color: #333333;
}
.org-outline-5 {
    /* outline-5 */
    color: #795da3;
}
.org-outline-6 {
    /* outline-6 */
    color: #969896;
}
.org-outline-7 {
    /* outline-7 */
    color: #333333;
}
.org-outline-8 {
    /* outline-8 */
    color: #333333;
}
.org-package-description {
    /* package-description */
    color: #333333;
    background-color: #ffffff;
}
.org-package-name {
    /* package-name */
    color: #a71d5d;
    font-weight: bold;
    text-decoration: underline;
}
.org-package-status-avail-obso {
    /* package-status-avail-obso */
    color: #969896;
}
.org-package-status-available {
    /* package-status-available */
    color: #333333;
    background-color: #ffffff;
}
.org-package-status-built-in {
    /* package-status-built-in */
    color: #a71d5d;
}
.org-package-status-dependency {
    /* package-status-dependency */
    color: #969896;
}
.org-package-status-disabled {
    /* package-status-disabled */
    color: #333333;
    background-color: #373844;
}
.org-package-status-external {
    /* package-status-external */
    color: #a71d5d;
}
.org-package-status-held {
    /* package-status-held */
    color: #0086b3;
}
.org-package-status-incompat {
    /* package-status-incompat */
    color: #969896;
}
.org-package-status-installed {
    /* package-status-installed */
    color: #969896;
}
.org-package-status-unsigned {
    /* package-status-unsigned */
    color: #333333;
    background-color: #373844;
}
.org-page-break-lines {
    /* page-break-lines */
    color: #969896;
}
.org-preprocessor {
    /* font-lock-preprocessor-face */
    color: #a71d5d;
}
.org-query-replace {
    /* query-replace */
    color: #ffffff;
    background-color: #b0cde7;
    font-weight: bold;
}
.org-rectangle-preview {
    /* rectangle-preview */
    color: #282a36;
    background-color: #b0cde7;
}
.org-regexp-grouping-backslash {
    /* font-lock-regexp-grouping-backslash */
    color: #969896;
}
.org-regexp-grouping-construct {
    /* font-lock-regexp-grouping-construct */
    color: #a71d5d;
}
.org-region {
    /* region */
    color: #282a36;
    background-color: #b0cde7;
}
.org-scroll-bar {
}
.org-secondary-selection {
    /* secondary-selection */
    background-color: #ffffff;
}
.org-sgml-namespace {
    /* sgml-namespace */
    color: #a71d5d;
}
.org-shadow {
    /* shadow */
    color: #7f7f7f;
}
.org-show-paren-match {
    /* show-paren-match */
    color: #ffffff;
    background-color: #a71d5d;
    font-weight: bold;
}
.org-show-paren-mismatch {
    /* show-paren-mismatch */
    color: #969896;
    background-color: #ffffff;
    font-weight: bold;
}
.org-smerge-base {
    /* smerge-base */
    background-color: #ffffaa;
}
.org-smerge-markers {
    /* smerge-markers */
    background-color: #d9d9d9;
}
.org-smerge-mine {
    /* smerge-mine */
    background-color: #ffdddd;
}
.org-smerge-other {
    /* smerge-other */
    background-color: #ddffdd;
}
.org-smerge-refined-added {
    /* smerge-refined-added */
    background-color: #aaffaa;
}
.org-smerge-refined-changed {
}
.org-smerge-refined-removed {
    /* smerge-refined-removed */
    background-color: #ffbbbb;
}
.org-string {
    /* font-lock-string-face */
    color: #183691;
}
.org-success {
    /* success */
    color: #969896;
    font-weight: bold;
}
.org-term {
    /* term */
    color: #f8f8f2;
    background-color: #282a36;
}
.org-term-bold {
    /* term-bold */
    font-weight: bold;
}
.org-term-color-black {
    /* term-color-black */
    color: #ffffff;
    background-color: #b0cde7;
}
.org-term-color-blue {
    /* term-color-blue */
    color: #0086b3;
    background-color: #969896;
}
.org-term-color-cyan {
    /* term-color-cyan */
    color: #795da3;
    background-color: #969896;
}
.org-term-color-green {
    /* term-color-green */
    color: #969896;
    background-color: #969896;
}
.org-term-color-magenta {
    /* term-color-magenta */
    color: #969896;
    background-color: #183691;
}
.org-term-color-red {
    /* term-color-red */
    color: #969896;
    background-color: #969896;
}
.org-term-color-white {
    /* term-color-white */
    color: #969896;
    background-color: #969896;
}
.org-term-color-yellow {
    /* term-color-yellow */
    color: #969896;
    background-color: #a71d5d;
}
.org-term-underline {
    /* term-underline */
    text-decoration: underline;
}
.org-tool-bar {
    /* tool-bar */
    color: #000000;
    background-color: #bfbfbf;
}
.org-tooltip {
    /* tooltip */
    color: #333333;
    background-color: #ffffff;
}
.org-trailing-whitespace {
    /* trailing-whitespace */
    background-color: #183691;
}
.org-tty-menu-disabled {
    /* tty-menu-disabled-face */
    color: #d3d3d3;
    background-color: #0000ff;
}
.org-tty-menu-enabled {
    /* tty-menu-enabled-face */
    color: #ffff00;
    background-color: #0000ff;
    font-weight: bold;
}
.org-tty-menu-selected {
    /* tty-menu-selected-face */
    background-color: #ff0000;
}
.org-type {
    /* font-lock-type-face */
    color: #0086b3;
}
.org-underline {
    /* underline */
    text-decoration: underline;
}
.org-undo-tree-visualizer-active-branch {
    /* undo-tree-visualizer-active-branch-face */
    color: #969896;
    font-weight: bold;
}
.org-undo-tree-visualizer-current {
    /* undo-tree-visualizer-current-face */
    color: #969896;
    font-weight: bold;
}
.org-undo-tree-visualizer-default {
    /* undo-tree-visualizer-default-face */
    color: #969896;
}
.org-undo-tree-visualizer-register {
    /* undo-tree-visualizer-register-face */
    color: #a71d5d;
}
.org-undo-tree-visualizer-unmodified {
    /* undo-tree-visualizer-unmodified-face */
    color: #795da3;
}
.org-variable-name {
    /* font-lock-variable-name-face */
    /*color: #333333;*/
}
.org-variable-pitch {
}
.org-vc-conflict-state {
}
.org-vc-edited-state {
}
.org-vc-locally-added-state {
}
.org-vc-locked-state {
}
.org-vc-missing-state {
}
.org-vc-needs-update-state {
}
.org-vc-removed-state {
}
.org-vc-state-base {
}
.org-vc-up-to-date-state {
}
.org-vertical-border {
    /* vertical-border */
    color: #d0d0d0;
}
.org-warning {
    /* warning */
    color: #333333;
    font-weight: bold;
}
.org-warning-1 {
    /* font-lock-warning-face */
    color: #333333;
    background-color: #373844;
}
.org-which-key-command-description {
    /* which-key-command-description-face */
    color: #795da3;
    font-weight: bold;
}
.org-which-key-group-description {
    /* which-key-group-description-face */
    color: #a71d5d;
    font-weight: bold;
}
.org-which-key-highlighted-command {
    /* which-key-highlighted-command-face */
    color: #795da3;
    font-weight: bold;
    text-decoration: underline;
}
.org-which-key-key {
    /* which-key-key-face */
    color: #0086b3;
}
.org-which-key-local-map-description {
    /* which-key-local-map-description-face */
    color: #795da3;
    font-weight: bold;
}
.org-which-key-note {
    /* which-key-note-face */
    color: #969896;
}
.org-which-key-separator {
    /* which-key-separator-face */
    color: #969896;
}
.org-which-key-special-key {
    /* which-key-special-key-face */
    color: #0086b3;
    font-weight: bold;
}
.org-window-divider {
    /* window-divider */
    color: #999999;
}
.org-window-divider-first-pixel {
    /* window-divider-first-pixel */
    color: #cccccc;
}
.org-window-divider-last-pixel {
    /* window-divider-last-pixel */
    color: #666666;
}

a {
    background-color: inherit;
    font: inherit;
    text-decoration: inherit;
}
a:hover {
    text-decoration: underline;
}
h1 {
    padding-top:3%;
}
h2 {
    margin-top:10%;
}
h3 {
    padding-top:3%;
}
pre {
    font-size:1.2em;
}
span:after {
    /*content: ".";*/
}
a:after {
    /*content: "\a";*/
    white-space: pre;
}
li:after {
    content: "\a";
    white-space: pre;
}
ol {
    margin-left: 4%; 
}
li {
    /*color: #424242;*/
    
    margin: 1em;
    display: list-item;
}
dt:before {
    content: "\a";
    white-space: pre;
}
dd {
    padding-left: 2em;
}
dd:before {
    content: " ⇢ ";
}

table
{
    border-spacing: 0px;
    width: 50%;
    border-bottom: 1px dashed grey;
    margin: 3em;
    /*! padding-top: 1em; */
    margin-left: auto;
    margin-right: auto;
}
tr:nth-of-type(2n+1) {
    background-color: whitesmoke;
}
th {
    background-color: white;
    
}
th, td {
    color: #2a2730;
    padding: 1em;
    min-width: 4em;
    border: 1px dashed grey;
    /*! background-color: white; */
}

img {
    width: 50%;
}

pre {
    box-shadow: none;
}

.example {
    background-color: lavenderblush;
    border: 1px dashed pink;
}

hr {
    margin-top: 3em;
    margin-bottom: 5em;
}

h2:before {
    content: '\a';
    white-space: pre;
}

h2 {
    border-top: 1px solid black;
    /*! border-style: groove; */
}
sup {font-size:small; vertical-align:super;}
-->
</style>
