/***************************************************/
/* CSS I've cobbled together from the far corners of the world.
Feel free to copy and paste, fork, clone, or anything you like. */
/***************************************************/
@font-face {
  font-family: 'EB Garamond';
  src: url("/assets/fonts/EBGaramond-0.016/ttf/EBGaramond12-Regular.ttf"); }
/***************************************************/
/* DARK THEMES
/***************************************************/
body {
  background-color: #2a2730; }

#header {
  background-color: #151515; }

#footer {
  background-color: #151515; }

.site-footer {
  background-color: #151515; }

#content {
  background-color: #2a2730; }

p, h1, h2, h3, h4, h5, h6, .text, pre, dd, dt, li, ul, ol, label {
  color: snow; }

pre.src:before {
  background-color: black;
  color: snow; }

div.text {
  background: #2a2730; }

#align p {
  color: snow; }

.safety {
  background-color: unset; }

.active, .dot:hover {
  background-color: #717171; }

.code-title, .code-type {
  color: snow; }

#featured:hover {
  background-color: #421895; }

#lightswitch {
  border: none; }

#lightswitch:hover {
  border: none;
  border: 1px solid #FF357A; }

#darkswitch {
  border: 1px solid #FF357A; }

.terminals {
  background-color: black;
  color: white; }

/***************************************************/
/* RESPONSIVE DESIGN
/***************************************************/
@media only screen and (max-width: 800px) {
  .site-footer {
    height: 8em; }

  .dark, .light {
    width: 2.5em;
    height: 2.5em; }

  .demo-examples:after {
    content: '\A'; } }
@media only screen and (max-width: 700px) {
  img.slide {
    height: 25em; } }
@media only screen and (max-width: 500px) {
  .site-footer {
    height: 9em; } }
@media only screen and (max-width: 400px) {
  span.date:before {
    content: ' ';
    display: block; } }
@media only screen and (max-width: 350px) {
  .site-footer {
    height: 10em; } }
@media only screen and (max-width: 300px) {
  .site-footer {
    height: 11em; } }
@media only screen and (max-width: 620px) {
  #header li::after {
    content: none; }

  #header li::before {
    content: none; } }
@font-face {
  font-family: "BoswellRegular";
  src: url("assets/Boswell Regular.ttf"); }
@media screen and (max-width: 740px) {
  ul.sidenav {
    width: 100%;
    height: 15em;
    position: relative;
    columns: 2; }

  #header ul.sidenav {
    padding: 0px; }

  ul.sidenav li:hover {
    background-color: #555; }

  #header ul li {
    padding: 1em;
    display: block;
    margin: 0px;
    text-align: center; }

  ul.sidenav li a {
    float: left;
    padding: 15px; }

  #header a {
    padding: 1em; }

  div.content {
    margin-left: 0; }

  ul.sidenav li a {
    text-align: center;
    float: none; }

  li.quote {
    white-space: pre-line; }

  .fixed {
    width: 100%;
    margin-right: 0.5em;
    margin-left: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em; }

  #content {
    padding: 4%; }

  div.about {
    width: 100%;
    background-image: none; }

  div.writings {
    width: 100%;
    background-image: none; }

  div.code {
    width: 100%;
    background-image: none; }

  div.git {
    width: 100%;
    background-image: none; }

  div.favorites {
    width: 100%;
    background-image: none; }

  h1 {
    font-size: 2.5em; }

  img.center {
    width: 70%;
    padding: 5%; }

  ul.code, li.code {
    display: inherit; } }
ul .icon-bar {
  margin-top: .375em;
  margin-bottom: .375em;
  display: block;
  margin-right: auto;
  margin-left: 20px;
  width: 2em;
  height: 0.3em;
  background-color: white; }

/***************************************************/
/* HACK TO HAVE THE FOOTER STAY AT THE BOTTOM
/***************************************************/
/**
 * CSSReset.com - How To Keep Footer At Bottom of Page with CSS
 *
 * Original Tutorial: http://www.cssreset.com/2010/css-tutorials/how-to-keep-footer-at-bottom-of-page-with-css/
 * License: Free - do whatever you like with it! Credit and linkbacks much appreciated.
 *
 * NB: Make sure the value for 'padding-bottom' on #content is equal to or greater than the height of #footer.
 */
html {
  height: 100%; }

body {
  padding-bottom: 58px;
  height: 100%; }

#wrapper {
  min-height: 100%;
  position: relative; }

#content {
  padding-bottom: 4%;
  /* Height of the footer element */ }

#footer {
  width: 100%;
  height: 0px;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: .8em; }

/***************************************************/
/* SYNTAX HIGHLIGHTING
/***************************************************/
/**
 * Syntax highlighting styles
 */
.highlight {
  font: 400 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  font-size-adjust: none;
  font-stretch: normal;
  -x-system-font: none;
  font-feature-settings: normal;
  font-language-override: normal;
  font-kerning: auto;
  font-synthesis: weight style;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal; }

/* Dracula Theme v1.2.5
 *
 * https://github.com/zenorocha/dracula-theme
 *
 * Copyright 2016, All rights reserved
 *
 * Code licensed under the MIT license
 * http://zenorocha.mit-license.org
 *
 * @author Rob G <wowmotty@gmail.com>
 * @author Chris Bracco <chris@cbracco.me>
 * @author Zeno Rocha <hi@zenorocha.com>
 */
.highlighter-rouge .highlight {
  background: #282a36;
  color: #f8f8f2;
  border: 1px dashed grey; }

.highlight .hll {
  background-color: #f1fa8c; }

.highlight {
  background: #282a36;
  color: #f8f8f2; }

.highlight .c {
  color: #6272a4; }

/* Comment */
.highlight .err {
  color: #f8f8f2; }

/* Error */
.highlight .g {
  color: #f8f8f2; }

/* Generic */
.highlight .k {
  color: #ff79c6; }

/* Keyword */
.highlight .l {
  color: #f8f8f2; }

/* Literal */
.highlight .n {
  color: #f8f8f2; }

/* Name */
.highlight .o {
  color: #ff79c6; }

/* Operator */
.highlight .x {
  color: #f8f8f2; }

/* Other */
.highlight .p {
  color: #f8f8f2; }

/* Punctuation */
.highlight .ch {
  color: #6272a4; }

/* Comment.Hashbang */
.highlight .cm {
  color: #6272a4; }

/* Comment.Multiline */
.highlight .cp {
  color: #ff79c6; }

/* Comment.Preproc */
.highlight .cpf {
  color: #6272a4; }

/* Comment.PreprocFile */
.highlight .c1 {
  color: #6272a4; }

/* Comment.Single */
.highlight .cs {
  color: #6272a4; }

/* Comment.Special */
.highlight .gd {
  color: #8b080b; }

/* Generic.Deleted */
.highlight .ge {
  color: #f8f8f2;
  text-decoration: underline; }

/* Generic.Emph */
.highlight .gr {
  color: #f8f8f2; }

/* Generic.Error */
.highlight .gh {
  color: #f8f8f2;
  font-weight: bold; }

/* Generic.Heading */
.highlight .gi {
  color: #f8f8f2;
  font-weight: bold; }

/* Generic.Inserted */
.highlight .go {
  color: #44475a; }

/* Generic.Output */
.highlight .gp {
  color: #f8f8f2; }

/* Generic.Prompt */
.highlight .gs {
  color: #f8f8f2; }

/* Generic.Strong */
.highlight .gu {
  color: #f8f8f2;
  font-weight: bold; }

/* Generic.Subheading */
.highlight .gt {
  color: #f8f8f2; }

/* Generic.Traceback */
.highlight .kc {
  color: #ff79c6; }

/* Keyword.Constant */
.highlight .kd {
  color: #8be9fd;
  font-style: italic; }

/* Keyword.Declaration */
.highlight .kn {
  color: #ff79c6; }

/* Keyword.Namespace */
.highlight .kp {
  color: #ff79c6; }

/* Keyword.Pseudo */
.highlight .kr {
  color: #ff79c6; }

/* Keyword.Reserved */
.highlight .kt {
  color: #8be9fd; }

/* Keyword.Type */
.highlight .ld {
  color: #f8f8f2; }

/* Literal.Date */
.highlight .m {
  color: #bd93f9; }

/* Literal.Number */
.highlight .s {
  color: #f1fa8c; }

/* Literal.String */
.highlight .na {
  color: #50fa7b; }

/* Name.Attribute */
.highlight .nb {
  color: #8be9fd;
  font-style: italic; }

/* Name.Builtin */
.highlight .nc {
  color: #50fa7b; }

/* Name.Class */
.highlight .no {
  color: #f8f8f2; }

/* Name.Constant */
.highlight .nd {
  color: #f8f8f2; }

/* Name.Decorator */
.highlight .ni {
  color: #f8f8f2; }

/* Name.Entity */
.highlight .ne {
  color: #f8f8f2; }

/* Name.Exception */
.highlight .nf {
  color: #50fa7b; }

/* Name.Function */
.highlight .nl {
  color: #8be9fd;
  font-style: italic; }

/* Name.Label */
.highlight .nn {
  color: #f8f8f2; }

/* Name.Namespace */
.highlight .nx {
  color: #f8f8f2; }

/* Name.Other */
.highlight .py {
  color: #f8f8f2; }

/* Name.Property */
.highlight .nt {
  color: #ff79c6; }

/* Name.Tag */
.highlight .nv {
  color: #8be9fd;
  font-style: italic; }

/* Name.Variable */
.highlight .ow {
  color: #ff79c6; }

/* Operator.Word */
.highlight .w {
  color: #f8f8f2; }

/* Text.Whitespace */
.highlight .mb {
  color: #bd93f9; }

/* Literal.Number.Bin */
.highlight .mf {
  color: #bd93f9; }

/* Literal.Number.Float */
.highlight .mh {
  color: #bd93f9; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #bd93f9; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #bd93f9; }

/* Literal.Number.Oct */
.highlight .sa {
  color: #f1fa8c; }

/* Literal.String.Affix */
.highlight .sb {
  color: #f1fa8c; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #f1fa8c; }

/* Literal.String.Char */
.highlight .dl {
  color: #f1fa8c; }

/* Literal.String.Delimiter */
.highlight .sd {
  color: #f1fa8c; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #f1fa8c; }

/* Literal.String.Double */
.highlight .se {
  color: #f1fa8c; }

/* Literal.String.Escape */
.highlight .sh {
  color: #f1fa8c; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #f1fa8c; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #f1fa8c; }

/* Literal.String.Other */
.highlight .sr {
  color: #f1fa8c; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #f1fa8c; }

/* Literal.String.Single */
.highlight .ss {
  color: #f1fa8c; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #f8f8f2;
  font-style: italic; }

/* Name.Builtin.Pseudo */
.highlight .fm {
  color: #50fa7b; }

/* Name.Function.Magic */
.highlight .vc {
  color: #8be9fd;
  font-style: italic; }

/* Name.Variable.Class */
.highlight .vg {
  color: #8be9fd;
  font-style: italic; }

/* Name.Variable.Global */
.highlight .vi {
  color: #8be9fd;
  font-style: italic; }

/* Name.Variable.Instance */
.highlight .vm {
  color: #8be9fd;
  font-style: italic; }

/* Name.Variable.Magic */
.highlight .il {
  color: #bd93f9; }

/* Literal.Number.Integer.Long */

/*# sourceMappingURL=dark.css.map */
