/***************************************************/
/* CSS I've cobbled together from the far corners of the world.
Feel free to copy and paste, fork, clone, or anything you like. */
/***************************************************/
@font-face {
  font-family: 'EB Garamond';
  src: url("/assets/fonts/EBGaramond-0.016/ttf/EBGaramond12-Regular.ttf"); }
/***************************************************/
/* BASIC STUFF
/***************************************************/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box; }

body {
  word-wrap: break-word; }

#content {
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 4%; }

/* paragraphs*/
p {
  font-size: 1.1em;
  line-height: 1.7;
  color: #333;
  padding-bottom: 1.5%;
  /*padding-bottom: 2%;*/
  /*text-indent: 5%;*/
  transition: 800ms; }

p.code {
  text-align: center;
  padding: 0.5em;
  font-size: 1.1em; }

p.headers {
  background-color: #D3D2E0;
  border: 1px #aaa solid; }

P.center {
  text-align: center;
  padding: 2%; }

/* anchors */
a {
  color: #FF357A;
  text-decoration: none; }

a:hover {
  text-decoration: underline;
  text-decoration-color: #FF357A; }

a.about {
  color: #DB37C4;
  text-decoration: snow; }

a.writings {
  color: #ED68D9;
  text-decoration: none; }

a.code {
  color: #49CCD4;
  text-decoration: none; }

a.git {
  color: #678CFA;
  text-decoration: none; }

a.favorites {
  color: #4635F7;
  text-decoration: none; }

#home a {
  font-size: 1.1em;
  transition: 800ms; }

#home span {
  transition: 800ms; }

#header a, #footer a {
  color: #FFFFFF; }

li.header::after {
  content: " )";
  color: grey; }

li.header::before {
  content: "( ";
  color: grey; }

a.secret {
  float: right; }

#home:hover a {
  text-decoration-color: snow;
  transition: 800ms; }

/* div */
div.about {
  border: solid 1px #DB37C4;
  transition: 800ms; }

div.writings {
  border: solid 1px #ED68D9;
  transition: 800ms; }

div.code {
  border: solid 1px #49CCD4;
  transition: 800ms; }

div.git {
  border: solid 1px #678CFA;
  transition: 800ms; }

div.favorites {
  border: solid 1px #4635F7;
  transition: 800ms; }

div.about:hover {
  background-color: #DB37C4;
  transition: 800ms; }

div.writings:hover {
  background-color: #ED68D9;
  transition: 800ms; }

div.code:hover {
  background-color: #49CCD4;
  transition: 800ms; }

div.git:hover {
  background-color: #678CFA;
  transition: 800ms; }

div.favorites:hover {
  background-color: #4635F7;
  transition: 800ms; }

/* Demo terminal stuff */
.terminals {
  overflow: auto;
  width: 100%;
  height: 25em;
  resize: both;
  background-color: white;
  color: black;
  padding: 2%;
  border: 1px dashed grey; }

.demo-examples {
  background-color: #4635f7;
  border-radius: 0;
  font-size: 1.4em;
  margin-right: 0.5em;
  cursor: pointer;
  transition: 800ms; }

.demo-examples:hover {
  background-color: #ff357a;
  transition: 800ms; }

.what-is-this {
  float: right;
  margin-top: 1.5em;
  color: grey; }

div.demo-examples-container {
  color: snow;
  line-height: 1.7;
  padding-bottom: 1.5%;
  transition: 800ms; }

#duplicate-terminal, #remove-terminal {
  border: 1px dashed grey;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  margin-top: 0.5em;
  transition: 800ms;
  color: snow;
  font-size: 1.1em;
  line-height: 1.7; }

#duplicate-terminal:hover {
  background-color: #4635f7;
  border: 1px solid #4635f7;
  transition: 800ms;
  cursor: pointer; }

#remove-terminal:hover {
  background-color: crimson;
  border: 1px solid crimson;
  transition: 800ms;
  cursor: pointer; }

#info {
  float: left;
  font-size: 1.1em;
  padding: 0.3em;
  transition: 400ms;
  color: black; }

/* home stuff */
#home:hover p {
  color: snow;
  transition: 800ms; }

#home:hover span {
  color: snow;
  transition: 800ms; }

#home:hover div {
  border-bottom: 1px solid snow;
  transition: 800ms; }

#home:hover a {
  color: snow;
  transition: 800ms; }

#home div {
  width: 90%;
  margin: auto;
  margin-bottom: 2%;
  margin-top: 2%; }

#home {
  width: 100%;
  cursor: pointer; }

div.about-border {
  border-bottom: 1px solid #DB37C4;
  transition: 800ms; }

div.writings-border {
  border-bottom: 1px solid #ED68D9;
  transition: 800ms; }

div.code-border {
  border-bottom: 1px solid #49CCD4;
  transition: 800ms; }

div.git-border {
  border-bottom: 1px solid #678CFA;
  transition: 800ms; }

div.favorites-border {
  border-bottom: 1px solid #4635F7;
  transition: 800ms; }

#welcome {
  transition: 800ms;
  width: 80%;
  margin: auto;
  display: block;
  padding: 3%;
  border: 1px dashed #aaa;
  cursor: pointer; }

#welcome:hover {
  background: #0054a5;
  transition: 800ms; }

/* headers */
h1 {
  font-size: 3em;
  font-family: Helvetica, Ariral, Sans-Serif;
  text-align: center;
  color: #2a2730;
  padding-top: 3%; }

h1.home-page {
  padding-top: 2%; }

h1.favorites {
  color: #4635f7;
  text-decoration: underline dotted #4635f7; }

.special {
  color: grey;
  text-decoration: underline dotted grey; }

h2 {
  font-size: 2.3em;
  font-family: Helvetica, Ariral, Sans-Serif;
  color: #2a2730;
  padding-top: 3%; }

h2.code {
  /*color: #595EF7;*/ }

/* lists */
nav ul, #footer ul, #header ul {
  font-family: Helvetica, Ariral, Sans-Serif;
  padding: 10px;
  list-style: none;
  font-weight: bold; }

nav ul li, #footer ul li, #header ul li {
  display: inline;
  color: #99979c; }

ul.code, li.code {
  text-align: center;
  padding: 2%; }

ul.posts {
  margin: 20px auto 40px;
  font-size: 1.5em; }

ul.posts li {
  list-style: none; }

li.quote {
  float: right; }

#header li {
  margin-right: 20px; }

hr {
  border-bottom: 1px dashed #99979c;
  border-top: 0px;
  transition: 800ms; }

#header {
  font-size: .8em;
  background-color: #2a2730; }

.site-footer {
  background-color: #2a2730;
  height: 4.5em; }

/* decorative splash of color at top of page */
/* http://sass-lang.com/ */
.popstripe {
  height: .25em;
  background-size: 100%;
  background-image: linear-gradient(to right, #DB37C4 0%, #DB37C4 20%, #ED68D9 20%, #ED68D9 40%, #49CCD4 40%, #49CCD4 60%, #678CFA 60%, #678CFA 80%, #4635F7 80%, #4635F7 100%); }

.heart {
  color: #FF357A; }

img {
  max-width: 100%; }

img.center {
  display: block;
  margin: 0 auto;
  width: 60%;
  padding: 2%;
  max-width: 400px;
  border: 1px dashed #aaa;
  border-radius: 50%;
  margin-top: 0.5em; }

img.emily {
  border-radius: 0; }

span.date:before {
  content: "|"; }

/* boxed items like in code and writings */
.container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 3%; }

.fixed {
  width: 30%;
  word-wrap: break-word;
  margin: 1.5em;
  border: solid 1px #aaa;
  margin-left: auto;
  margin-right: auto; }

.flex-item {
  flex-grow: 1; }

.pointer {
  cursor: pointer; }

.code-main {
  border: solid 1px #d5d5d5;
  width: 100%;
  margin: 0%; }

button {
  width: 1.3em;
  height: 1.3em;
  margin-left: 0.3em;
  margin-right: 0.3em; }

button:hover {
  border: 1px solid #FF357A; }

.light {
  background-color: whitesmoke;
  border: 1px solid #ff357a;
  color: whitesmoke; }

.dark {
  background-color: #2a2730;
  border: 1px solid snow;
  color: #2a2730; }

.white {
  color: snow; }

.style {
  display: inline;
  margin-right: 1em;
  margin-left: 1em;
  float: right; }

/*
#content {
    background-color: #2a2730;
}

p {
    color: snow;
}
*/
.popstripe-bw {
  height: 0.25em;
  background-size: 100%;
  background-image: linear-gradient(to right, #191917 0%, #191917 20%, #6D7564 20%, #6D7564 40%, #363436 40%, #363436 60%, #7F7F7D 60%, #7F7F7D 80%, #363634 80%, #363634 100%); }

/* borders */
.border {
  margin: 6%;
  margin-left: 10%;
  margin-right: 10%;
  border-bottom: 1px solid #aaa; }

.border-home {
  margin: 2%;
  margin-left: 10%;
  margin-right: 10%;
  border-bottom: 1px solid #db34ed; }
  .border-home .border-code {
    border-bottom: 1px solid #aaa; }

/* arrow links for next and previous */
/* http://david.elbe.me/jekyll/2015/06/20/how-to-link-to-next-and-previous-post-with-jekyll.html */
.PageNavigation {
  display: block;
  width: auto;
  overflow: hidden; }

.PageNavigation a {
  display: block;
  width: 50%;
  margin: 1em 0;
  color: grey;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 1%; }

.PageNavigation .prev {
  float: right;
  text-align: right; }

.PageNavigation .next {
  float: left;
  text-align: left;
  padding-left: 4%; }

.sub {
  color: grey;
  line-height: 1.5; }

div.sub {
  float: right;
  clear: right;
  margin: 0px; }

.safety {
  background-color: lavender;
  padding: 2em;
  border: 1px dashed grey;
  margin: 5%; }

.code-title {
  font-size: 1.1em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.5em;
  border-radius: 1em;
  width: 60%;
  background-color: #FF357A; }

.code-type {
  color: #333;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.5em;
  border-radius: 1em;
  width: 60%; }

.web-app {
  border: 1px solid #DB37C4; }

#featured {
  transition: 800ms;
  cursor: pointer; }

#featured:hover {
  background-color: lavender;
  transition: 800ms; }

.command-line {
  border: 1px solid #678CFA; }

.android {
  border: 1px solid #49CCD4; }

/**
 * Code formatting
 */
pre {
  padding: 8px 12px;
  overflow-x: auto;
  white-space: pre-wrap; }

code {
  overflow-x: auto;
  white-space: pre-wrap;
  border-radius: 15%;
  /* top right bottom left */
  padding: 0.1em 0.4em 0.1em 0.4em;
  line-height: 1.5em;
  /* https://stackoverflow.com/questions/34659853/how-to-apply-padding-to-every-line-in-multi-line-text */
  box-decoration-break: clone; }

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s; }

.active, .accordion:hover {
  background-color: #ccc; }

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden; }

/* slideshow */
#align a {
  display: inline-block; }

#align p {
  padding-left: 1.5em;
  color: #5e5e5e; }

* {
  box-sizing: border-box; }

img.slide {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 36em;
  object-fit: contain; }

div.buttons {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5em; }

span.grey {
  color: #5e5e5e; }

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto; }

.mySlides {
  display: none;
  background: black; }

.prev-slideshow, .next-slideshow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  /*transition: 0.6s ease;*/
  border-radius: 0 3px 3px 0; }

.next-slideshow {
  right: 0;
  border-radius: 3px 0 0 3px; }

.prev-slideshow:hover, .next-slideshow:hover {
  background-color: rgba(0, 0, 0, 0.8); }

.text {
  padding: 8px 12px;
  width: 100%;
  text-align: center;
  background: snow; }

.numbertext {
  color: #f2f2f2;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  display: none; }

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  /*transition: background-color 0.6s ease;*/ }

.active, .dot:hover {
  background-color: #717171; }

.black-fade {
  position: relative;
  border: 1px dashed lightgrey;
  padding: 1em; }

/* https://stackoverflow.com/questions/18322548/black-transparent-overlay-on-image-hover-with-only-css/18322705 */
.black-fade:after {
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  opacity: 0;
  animation-name: fade-black;
  animation-duration: 1.5s; }

@keyframes fade-black {
  from {
    opacity: 1.0; }
  to {
    opacity: 0.0; } }
/***************************************************/
/* SYNTAX HIGHLIGHTING
/***************************************************/
/**
 * Syntax highlighting styles
 */
.highlight {
  font: 400 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  font-size-adjust: none;
  font-stretch: normal;
  -x-system-font: none;
  font-feature-settings: normal;
  font-language-override: normal;
  font-kerning: auto;
  font-synthesis: weight style;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  background: #fff; }

.highlighter-rouge .highlight {
  background-color: #fdeeff;
  border: 1px dashed pink; }

.highlight .c {
  color: #998;
  font-style: italic; }

.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

.highlight .k {
  font-weight: bold; }

.highlight .o {
  font-weight: bold; }

.highlight .cm {
  color: #998;
  font-style: italic; }

.highlight .cp {
  color: #999;
  font-weight: bold; }

.highlight .c1 {
  color: #998;
  font-style: italic; }

.highlight .cs {
  color: #999;
  font-weight: bold;
  font-style: italic; }

.highlight .gd {
  color: #000;
  background-color: #fdd; }

.highlight .gd .x {
  color: #000;
  background-color: #faa; }

.highlight .ge {
  font-style: italic; }

.highlight .gr {
  color: #a00; }

.highlight .gh {
  color: #999; }

.highlight .gi {
  color: #000;
  background-color: #dfd; }

.highlight .gi .x {
  color: #000;
  background-color: #afa; }

.highlight .go {
  color: #888; }

.highlight .gp {
  color: #555; }

.highlight .gs {
  font-weight: bold; }

.highlight .gu {
  color: #aaa; }

.highlight .gt {
  color: #a00; }

.highlight .kc {
  font-weight: bold; }

.highlight .kd {
  font-weight: bold; }

.highlight .kp {
  font-weight: bold; }

.highlight .kr {
  font-weight: bold; }

.highlight .kt {
  color: #458;
  font-weight: bold; }

.highlight .m {
  color: #099; }

.highlight .s {
  color: #d14; }

.highlight .na {
  color: #008080; }

.highlight .nb {
  color: #0086B3; }

.highlight .nc {
  color: #458;
  font-weight: bold; }

.highlight .no {
  color: #008080; }

.highlight .ni {
  color: #800080; }

.highlight .ne {
  color: #900;
  font-weight: bold; }

.highlight .nf {
  color: #900;
  font-weight: bold; }

.highlight .nn {
  color: #555; }

.highlight .nt {
  color: #000080; }

.highlight .nv {
  color: #008080; }

.highlight .ow {
  font-weight: bold; }

.highlight .w {
  color: #bbb; }

.highlight .mf {
  color: #099; }

.highlight .mh {
  color: #099; }

.highlight .mi {
  color: #099; }

.highlight .mo {
  color: #099; }

.highlight .sb {
  color: #d14; }

.highlight .sc {
  color: #d14; }

.highlight .sd {
  color: #d14; }

.highlight .s2 {
  color: #d14; }

.highlight .se {
  color: #d14; }

.highlight .sh {
  color: #d14; }

.highlight .si {
  color: #d14; }

.highlight .sx {
  color: #d14; }

.highlight .sr {
  color: #009926; }

.highlight .s1 {
  color: #d14; }

.highlight .ss {
  color: #990073; }

.highlight .bp {
  color: #999; }

.highlight .vc {
  color: #008080; }

.highlight .vg {
  color: #008080; }

.highlight .vi {
  color: #008080; }

.highlight .il {
  color: #099; }

/***************************************************/
/* RESPONSIVE DESIGN
/***************************************************/
@media only screen and (max-width: 800px) {
  .site-footer {
    height: 8em; }

  .dark, .light {
    width: 2.5em;
    height: 2.5em; }

  .demo-examples:after {
    content: '\A'; } }
@media only screen and (max-width: 700px) {
  img.slide {
    height: 25em; } }
@media only screen and (max-width: 500px) {
  .site-footer {
    height: 9em; } }
@media only screen and (max-width: 400px) {
  span.date:before {
    content: ' ';
    display: block; } }
@media only screen and (max-width: 350px) {
  .site-footer {
    height: 10em; } }
@media only screen and (max-width: 300px) {
  .site-footer {
    height: 11em; } }
@media only screen and (max-width: 620px) {
  #header li::after {
    content: none; }

  #header li::before {
    content: none; } }
@font-face {
  font-family: "BoswellRegular";
  src: url("assets/Boswell Regular.ttf"); }
@media screen and (max-width: 740px) {
  ul.sidenav {
    width: 100%;
    height: 15em;
    position: relative;
    columns: 2; }

  #header ul.sidenav {
    padding: 0px; }

  ul.sidenav li:hover {
    background-color: #555; }

  #header ul li {
    padding: 1em;
    display: block;
    margin: 0px;
    text-align: center; }

  ul.sidenav li a {
    float: left;
    padding: 15px; }

  #header a {
    padding: 1em; }

  div.content {
    margin-left: 0; }

  ul.sidenav li a {
    text-align: center;
    float: none; }

  li.quote {
    white-space: pre-line; }

  .fixed {
    width: 100%;
    margin-right: 0.5em;
    margin-left: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em; }

  #content {
    padding: 4%; }

  div.about {
    width: 100%;
    background-image: none; }

  div.writings {
    width: 100%;
    background-image: none; }

  div.code {
    width: 100%;
    background-image: none; }

  div.git {
    width: 100%;
    background-image: none; }

  div.favorites {
    width: 100%;
    background-image: none; }

  h1 {
    font-size: 2.5em; }

  img.center {
    width: 70%;
    padding: 5%; }

  ul.code, li.code {
    display: inherit; } }
ul .icon-bar {
  margin-top: .375em;
  margin-bottom: .375em;
  display: block;
  margin-right: auto;
  margin-left: 20px;
  width: 2em;
  height: 0.3em;
  background-color: white; }

/***************************************************/
/* HACK TO HAVE THE FOOTER STAY AT THE BOTTOM
/***************************************************/
/**
 * CSSReset.com - How To Keep Footer At Bottom of Page with CSS
 *
 * Original Tutorial: http://www.cssreset.com/2010/css-tutorials/how-to-keep-footer-at-bottom-of-page-with-css/
 * License: Free - do whatever you like with it! Credit and linkbacks much appreciated.
 *
 * NB: Make sure the value for 'padding-bottom' on #content is equal to or greater than the height of #footer.
 */
html {
  height: 100%; }

body {
  padding-bottom: 58px;
  height: 100%; }

#wrapper {
  min-height: 100%;
  position: relative; }

#content {
  padding-bottom: 4%;
  /* Height of the footer element */ }

#footer {
  width: 100%;
  height: 0px;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: .8em; }

/*# sourceMappingURL=main.css.map */
